<section class="ct_login_main">
      <div class="ct_login_left position-relative">
            <img src="assets/img/login-left.png" alt="">
            <div class="ct_login_btm_logo">
                  <img src="assets/img/logo.svg" alt="">

            </div>

      </div>
      <div class="ct_login_right">
            <h4 class="ct_fs_44  ct_fw_600 mb-5">Welcome to ZYNQ</h4>
            <form action="">
                  <div class="form-group mb-4">
                        <div class="position-relative">
                              <div class="ct_input_icon_left">
                                    <img src="assets/img/icons/oui_email.svg" alt="">
                              </div>
                              <input type="email" placeholder="Email address"
                                    class="form-control ct_input ct_input_ps_40 ct_input_pe_40">
                        </div>
                        <span class="ct_text_red mt-2 d-none">Please Enter Email</span>
                  </div>
                  <div class="form-group mb-4">
                        <div class="position-relative">
                              <div class="ct_input_icon_left">
                                    <img src="assets/img/icons/lock.svg" alt="">
                              </div>
                              <input type="password" placeholder="Password"
                                    class="form-control ct_input ct_input_ps_40 ct_input_pe_40">
                              <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                        </div>
                        <span class="ct_text_red mt-2 d-none">Please Enter Password</span>
                  </div>
                  <a routerLink="/forgot-password" class="ct_text_black">Forgot Password?</a>

                  <div class="mt-5">
                        <a routerLink="/clinic" class="ct_black_btn w-100">Proceed to Onboarding</a>
                  </div>
            </form>

      </div>

</section>