.ct_header {
      background-color: #ffffff;
      /* padding-block: 20px; */
      margin-bottom: 30px;
      position: sticky;
      top: 0px;
}

.ct_logo img {
      width: 124px;
      margin-bottom: 0px;
      object-fit: contain;
}


.ct_notification_count {
      position: absolute;
      font-size: 9px;
      background: #000000;
      color: #fff;
      border-radius: 50%;
      padding: 4px;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      right: 0px;
      top: -9px;
      align-items: center;
      line-height: 1;
      min-width: 17px;
}


.ct_language_select {
      background-color: #e6e6e6;
      border: 0px;
      padding: 0px 20px;
      border-radius: 10px;
}

.ct_language_select button.dropdown-toggle.py-2.mt-0 {
      background-color: transparent;
      border: 0;
}

.ct_language_select.dropdown {
      position: absolute;
      top: 25px;
      right: 25px;
}














/* ////////////////////////////////////////////////////////////// */

* {
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
}

body {
      margin: 0;
      background: #000;
      color: #fff;
}

.ct_logo {
      margin-bottom: 30px;
}

.ct_logo img {
      /* filter: invert(1); */
      width: 100%;
      max-width: 150px;
}

/* Main Section */
.coming-soon {
      min-height: 100vh;
      background:
            radial-gradient(circle at top, rgba(99, 102, 241, 0.25), transparent 40%),
            radial-gradient(circle at bottom, rgba(236, 72, 153, 0.2), transparent 45%),
            #000;
}

/* Badge */
.badge-soon {
      background: linear-gradient(135deg, #6366f1, #ec4899);
      padding: 8px 18px;
      border-radius: 50px;
      font-size: 14px;
      font-weight: 600;
}

/* Text */
.title {
      font-size: 60px;
      font-weight: 700;
}

.subtitle {
      color: #9ca3af;
      font-size: 16px;
      max-width: 520px;
      margin: auto;
}

/* Email Box */
.email-box {
      display: flex;
      max-width: 420px;
      margin: auto;
      background: #111;
      border-radius: 12px;
      overflow: hidden;
      border: 1px solid #222;
}

.email-box input {
      flex: 1;
      background: transparent;
      border: none;
      padding: 14px;
      color: #fff;
      outline: none;
}

.email-box input::placeholder {
      color: #6b7280;
}

.email-box button {
      background: linear-gradient(135deg, #6366f1, #ec4899);
      border: none;
      padding: 0 22px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
}

.email-box button:hover {
      opacity: 0.9;
}

/* Footer */
.small-text {
      font-size: 13px;
      color: #6b7280;
}

/* Responsive */
@media (max-width: 576px) {
      .title {
            font-size: 30px;
      }
}