<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-3">
                              <a class="ct_back_icon"><i class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Doctor Management </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          Doctor Profile</span>
                              </h4>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-5">
                              <div class="d-flex gap-3 justify-content-between ct_flex_col_767">

                                    <div class="d-flex  gap-4 ct_flex_1 ">
                                          <div class="ct_big_user_img">
                                                <img src="../assets/img/user_3.png" alt="" data-bs-toggle="modal"
                                                      data-bs-target="#full_view_img">
                                          </div>
                                          <div class="ct_flex_1">
                                                <div class="d-flex  gap-3 justify-content-between flex-wrap">
                                                      <div>
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-1">Cristina Groves</h4>
                                                            <p class="ct_fs_16 ct_dark_grey_text mb-0">Dermatologist</p>
                                                            <p class="ct_fs_16 ct_black_text mb-0">Employee ID : DR-0001
                                                            </p>
                                                      </div>
                                                      <div class="">
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-1">$15</h4>
                                                            <p class="mb-0 ct_grey_text ">per session</p>
                                                      </div>

                                                </div>
                                                <div class="d-flex align-items-center gap-3 mt-2 flex-wrap">
                                                      <p class="mb-0 ct_fs_16"><i
                                                                  class="fa-regular fa-clock me-1 ct_grey_text"></i>10
                                                            years
                                                            experience
                                                      </p>
                                                      <div class="d-flex align-items-center gap-2">
                                                            <ul class="d-flex align-items-center gap-2">
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-regular fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                            </ul>
                                                            <span>(4.8)</span>
                                                      </div>
                                                </div>
                                          </div>

                                    </div>

                                    <div class="ct_flex_1">
                                          <ul class="ct_grid_30_auto">
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Phone:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">720-889-6484</p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Email:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">cristinagroves&#64;example.com
                                                      </p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Age:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">32 yrs</p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Address:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">714 Burwell Heights Road,
                                                            Bridge
                                                            City, TX, 77611</p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Gender:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">Female</p>
                                                </li>
                                          </ul>
                                    </div>

                              </div>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4 pe-0">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Biography:</h4>
                              <p class="ct_grey_text mb-0 ct_para_scroll ct_custom_scroll ct_pe_30 mt-3">Dr. Ayesha is
                                    a
                                    certified
                                    dermatologist with 5+ years of
                                    experience treating
                                    pigmentation, acne, and various skin conditions. She has successfully treated
                                    thousands of patients and is known for her patient-centric approach to skincare. Her
                                    expertise includes advanced treatments for chronic skin conditions and aesthetic
                                    procedures.</p>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Experience:</h4>
                              <div class="ct_experience_list my-3">
                                    <ul>
                                          <li>
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">Consultant
                                                      Dermatologist
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">Jan 2014 - Present (4 years 8
                                                      months)
                                                </p>
                                          </li>
                                          <li class="">
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">Consultant Skin Expert
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">Jan 2009 - Jan 2014 (6 years 1
                                                      month)
                                                </p>
                                          </li>
                                    </ul>
                              </div>

                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Education Informations:</h4>
                              <div class="ct_experience_list my-3">
                                    <ul>
                                          <li>
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">MD - Obstetrics &
                                                      Gynaecology
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">International College of Medical
                                                      Science (PG)
                                                </p>
                                                <small class="ct_grey_text">2001 - 2003</small>
                                          </li>
                                          <li class="">
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">MBBS
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">Jan 2009 - Jan 2014 (6 years 1
                                                      month)
                                                </p>
                                                <small class="ct_grey_text">1996 - 2001</small>
                                          </li>


                                    </ul>
                              </div>

                        </div>
                  </div>


            </div>
      </div>



</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                              Image Preview
                        </h5>
                        <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="ct_full_view_img">
                              <img src="../assets/img/user_3.png" alt="">
                        </div>
                  </div>

            </div>
      </div>
</div>