<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-3">
                              <a (click)="location.back()" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Doctor Management </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          Doctor Profile</span>
                              </h4>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-5">
                              <div class="d-flex gap-3 justify-content-between ct_flex_col_767">
                                    <div class="d-flex  gap-4 ct_flex_1 ">
                                          <div class="ct_big_user_img">
                                                <img [src]="doctorDetail()?.profile_image ? doctorDetail()?.profile_image : 'assets/img/doctor.png'"
                                                      alt="" data-bs-toggle="modal" data-bs-target="#full_view_img"
                                                      (click)="openModal(doctorDetail()?.profile_image)">
                                          </div>
                                          <div class="ct_flex_1">
                                                <div class="d-flex  gap-3 justify-content-between flex-wrap">
                                                      <div>
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-1">{{doctorDetail()?.name}}
                                                            </h4>
                                                            <p class="ct_fs_16 ct_dark_grey_text mb-0">
                                                                  {{specialityName(doctorDetail()!.treatments)}}
                                                            </p>
                                                            <!-- <p class="ct_fs_16 ct_black_text mb-0">Employee ID :
                                                                  {{doctorDetail()?.doctor_id}}
                                                            </p> -->
                                                      </div>
                                                      <div class="d-flex gap-2 align-items-center">
                                                            <h4 class="ct_fs_20 ct_fw_600 mb-1">
                                                                  {{doctorDetail()?.fee_per_session | currency:'USD'}}
                                                            </h4>
                                                            <p class="mb-0 ct_grey_text ">per session</p>
                                                      </div>

                                                </div>
                                                <div class="d-flex align-items-center gap-3 mt-2 flex-wrap">
                                                      <p class="mb-0 ct_fs_16"><i
                                                                  class="fa-regular fa-clock me-1 ct_grey_text"></i>{{getTotalExperience(doctorDetail()!.experience).diffYears}}
                                                            year
                                                            {{(getTotalExperience(doctorDetail()!.experience).diffMonths) - (getTotalExperience(doctorDetail()!.experience).diffYears * 12) }}
                                                            months
                                                            experience
                                                      </p>
                                                      <div class="d-flex align-items-center gap-2">
                                                            <!-- <ul class="d-flex align-items-center gap-2">
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                                  <li><i class="fa-regular fa-star ct_yellow_text ct_fs_20"></i>
                                                                  </li>
                                                            </ul> -->
                                                            <nz-rate [ngModel]="doctorDetail()?.rating" nzDisabled
                                                                  nzAllowHalf></nz-rate>
                                                            <span>({{doctorDetail()?.rating || 0}})</span>
                                                      </div>
                                                </div>
                                          </div>

                                    </div>

                                    <div class="ct_flex_1">
                                          <ul class="ct_grid_30_auto">
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Phone:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">{{doctorDetail()?.phone}}</p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Email:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">{{doctorDetail()?.email}}
                                                      </p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Age:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">{{doctorDetail()?.age}} Years
                                                      </p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Address:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">{{doctorDetail()?.address}}
                                                      </p>
                                                </li>
                                                <li>
                                                      <p class="mb-2 ct_fs_16 ct_text_black">Gender:</p>
                                                      <p class="mb-2 ct_text_clr_858A9B ">{{doctorDetail()?.gender}}</p>
                                                </li>
                                          </ul>
                                    </div>

                              </div>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4 pe-0">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Biography:</h4>
                              <p class="ct_grey_text mb-0 ct_para_scroll ct_custom_scroll ct_pe_30 mt-3">
                                    {{doctorDetail()?.biography}}
                              </p>
                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Experience:</h4>
                              <div class="ct_experience_list my-3">
                                    <ul>
                                          @for (item of doctorDetail()?.experience; track $index) {
                                          <li>
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">
                                                      {{item.designation}}
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">{{item.organization}}
                                                </p>
                                                <p class="mb-0 ct_grey_text ct_fs_14">
                                                      {{item.start_date | date:'MMM yyyy'}} -
                                                      {{item.end_date | date:'MMM yyyy'}} ({{getCount(item.start_date,
                                                      item.end_date).diffYears}} year {{(getCount(item.start_date,
                                                      item.end_date).diffMonths) - (getCount(item.start_date, item.end_date).diffYears * 12) }}
                                                      months)
                                                </p>
                                          </li>
                                          }
                                    </ul>
                              </div>

                        </div>
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_px_30 py-4 mt-4">
                              <h4 class="ct_fs_20 ct_fw_600 mb-2">Education Informations:</h4>
                              <div class="ct_experience_list my-3">
                                    <ul>
                                          @for (item of doctorDetail()?.education; track $index) {
                                          <li>
                                                <h6 class="mb-1 ct_fs_16 ct_fw_600 ct_black_text">{{item.degree}}
                                                </h6>
                                                <p class="mb-0 ct_grey_text ct_fs_14">{{item.institution}}
                                                </p>
                                                <p class="ct_grey_text ct_fs_14 mb-0">
                                                      {{item.start_year | date:'MMM yyyy'}} -
                                                      {{item.end_year | date:'MMM yyyy'}}
                                                </p>
                                          </li>
                                          }
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                              Image Preview
                        </h5>
                        <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="ct_full_view_img">
                              <img [src]="imagePreview" alt="">
                        </div>
                  </div>

            </div>
      </div>
</div>