<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-3">
                              <a routerLink="/clinic/products" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Product
                                          Management </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          View Product</span>
                              </h4>
                        </div>
                        <form action="">
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <div class="row align-items-center">
                                          <div class="col-xxl-4 col-xl-5 col-lg-6 mb-4 mb-lg-0">
                                                <div class="ct_left_side_product_img">
                                                      <div class="owl-carousel owl-theme ct_product_detail_slider">
                                                            @for (item of productData?.product_images; track $index) {
                                                            <div class="item"><img [src]="item.image" alt="Slide 1">
                                                            </div>
                                                            }
                                                      </div>
                                                      <ul class="ct_custom-dots">
                                                            @for (item of productData?.product_images; track $index) {
                                                            <li class="ct_dot" [attr.data-slide]="$index">
                                                                  <img [src]="item.image" alt="Slide 1"
                                                                        (click)="slide($index)">
                                                            </li>
                                                            }
                                                      </ul>

                                                </div>
                                          </div>
                                          <div class="col-xxl-8 col-xl-7 col-lg-6  mb-4 mb-lg-0">
                                                <h4 class="ct_fs_24 ct_fw_600 mb-2">{{productData?.name}}</h4>
                                                <p class="ct_fs_20 mb-2">{{productData?.price | currency:'USD'}}</p>
                                                <p class="ct_grey_text ct_para_scroll ct_custom_scroll">
                                                      {{productData?.short_description}}
                                                </p>
                                                <div class="d-flex align-items-center gap-2">
                                                      <ul class="d-flex align-items-center gap-2">
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-regular fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                      </ul>
                                                      <span>(4.8)</span>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <div class="form-group mb-3">
                                          <h4 class="mb-3 ct_fs_20 ct_fw_600">Description:</h4>
                                          <p class="mb-0 ct_grey_text">{{productData?.full_description}}</p>
                                    </div>
                              </div>


                              <div
                                    class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4 pe-0">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Highlighted Features</h4>
                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-4 flex-wrap ct_para_scroll ct_custom_scroll ct_pe_30">
                                                @for (item of selectedFeatures; track $index) {
                                                <li>
                                                      <div class="d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  {{item}}
                                                            </label>
                                                      </div>
                                                </li>
                                                }
                                          </ul>
                                    </div>
                              </div>

                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Available Sizes</h4>

                                    <div>
                                          <ul class="d-flex align-items-center gap-4 flex-wrap ">
                                                @for (item of selectedSizes; track $index) {
                                                <li>
                                                      <div class="ct_outline_border">
                                                            {{item}}
                                                      </div>
                                                </li>
                                                }
                                          </ul>
                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Key Benefits</h4>
                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-3 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30">
                                                @for (item of selectedBenefits; track $index) {
                                                <li>
                                                      <button class="ct_select_badge">{{item}} </button>
                                                </li>
                                                }
                                          </ul>

                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">How To Use</h4>
                                    <div class="form-group">
                                          <textarea class="form-control h-auto ct_input text-" readonly rows="4"
                                                placeholder="Write here.">{{productData?.how_to_use}}
                                          </textarea>

                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Ingredients</h4>

                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-3 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30">
                                                @for (item of selectedIngredients; track $index) {
                                                <li>
                                                      <button class="ct_select_badge">{{item}}</button>
                                                </li>
                                                }
                                          </ul>
                                    </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button class="ct_outline_btn">Cancel</button>
                                    <button class="ct_black_btn">Save Changes</button>

                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>