<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-3">
                              <a routerLink="/clinic/main/products" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Product
                                          Management </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          View Product</span>
                              </h4>
                        </div>
                        <form action="">
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <div class="row align-items-center">
                                          <div class="col-xxl-4 col-xl-5 col-lg-6 mb-4 mb-lg-0">
                                                <div class="ct_left_side_product_img">
                                                      <div class="owl-carousel owl-theme ct_product_detail_slider">
                                                            <div class="item"><img src="assets/img/product_img_2.jpg"
                                                                        alt="Slide 1">
                                                            </div>
                                                            <div class="item"><img src="assets/img/product_img_2.jpg"
                                                                        alt="Slide 2">
                                                            </div>
                                                            <div class="item"><img src="assets/img/product_img_2.jpg"
                                                                        alt="Slide 3">
                                                            </div>

                                                      </div>
                                                      <ul class="ct_custom-dots">
                                                            <li class="ct_dot" data-slide="0">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="1">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="2">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="3">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="4">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="5">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="6">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="7">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                            <li class="ct_dot" data-slide="8">
                                                                  <img src="assets/img/product_img_2.jpg" alt="Slide 1">
                                                            </li>
                                                      </ul>

                                                </div>
                                          </div>
                                          <div class="col-xxl-8 col-xl-7 col-lg-6  mb-4 mb-lg-0">
                                                <h4 class="ct_fs_24 ct_fw_600 mb-2">Hydrating Serum 24H</h4>
                                                <p class="ct_fs_20 mb-2">$22.00</p>
                                                <p class="ct_grey_text ct_para_scroll ct_custom_scroll">Supports
                                                      moisture
                                                      retention and skin elasticity.
                                                </p>
                                                <div class="d-flex align-items-center gap-2">
                                                      <ul class="d-flex align-items-center gap-2">
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-solid fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                            <li><i class="fa-regular fa-star ct_yellow_text ct_fs_20"></i>
                                                            </li>
                                                      </ul>
                                                      <span>(4.8)</span>
                                                </div>
                                          </div>

                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <div class="form-group mb-3">
                                          <h4 class="mb-3 ct_fs_20 ct_fw_600">Description:</h4>
                                          <p class="mb-0 ct_grey_text">Hydrating Serum 24H is a lightweight,
                                                fast-absorbing formula designed to deliver intense moisture and lasting
                                                hydration for up to 24 hours. Infused with Hyaluronic Acid and Vitamin
                                                C, it
                                                helps retain skin moisture, boost elasticity, and enhance skin radiance.
                                                Ideal for all skin types, including dry and sensitive skin, this serum
                                                leaves the skin feeling plump, smooth, and refreshed with a non-greasy
                                                finish.</p>
                                    </div>
                              </div>


                              <div
                                    class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4 pe-0">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Highlighted Features</h4>

                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-4 flex-wrap ct_para_scroll ct_custom_scroll ct_pe_30">
                                                <li>
                                                      <div class="d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  24-Hour Moisture Lock
                                                            </label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  Boosts Skin Barrier
                                                            </label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class=" d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  Lightweight & Non-Greasy
                                                            </label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class=" d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  Soothes & Refreshes
                                                            </label>
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class=" d-flex align-items-center gap-2">
                                                            <i class="fa-solid fa-check"></i>
                                                            <label class="form-check-label mb-0" for="flexCheckDefault">
                                                                  Acne-Prone
                                                            </label>
                                                      </div>
                                                </li>

                                          </ul>

                                    </div>
                              </div>

                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Available Sizes</h4>

                                    <div>
                                          <ul class="d-flex align-items-center gap-4 flex-wrap ">
                                                <li>
                                                      <div class="ct_outline_border">
                                                            100ml
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="ct_outline_border">
                                                            200ml
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="ct_outline_border">
                                                            300ml
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="ct_outline_border">
                                                            400ml
                                                      </div>
                                                </li>
                                                <li>
                                                      <div class="ct_outline_border">
                                                            500ml
                                                      </div>
                                                </li>

                                          </ul>
                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Key Benefits</h4>

                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-3 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30">
                                                <li>
                                                      <button class="ct_select_badge">Deep Hydration </button>
                                                </li>
                                                <li>
                                                      <button class="ct_select_badge">Plumps & Smooths </button>
                                                </li>
                                                <li>
                                                      <button class="ct_select_badge">Lightweight Formula </button>
                                                </li>

                                          </ul>

                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">How To Use</h4>
                                    <div class="form-group">
                                          <textarea class="form-control h-auto ct_input text-" readonly rows="4"
                                                placeholder="Write here.">Hydrating Serum 24H is a lightweight, fast-absorbing formula designed to deliver intense moisture and lasting hydration for up to 24 hours. Infused with Hyaluronic Acid and Vitamin C, it helps retain skin moisture, boost elasticity, and enhance skin radiance. Ideal for all skin types, including dry and sensitive skin, this serum leaves the skin feeling plump, smooth, and refreshed with a non-greasy finish.
                                        </textarea>

                                    </div>
                              </div>
                              <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20 mt-4">
                                    <h4 class="mb-3 ct_fs_20 ct_fw_600">Ingredients</h4>

                                    <div>
                                          <ul
                                                class="d-flex align-items-center gap-3 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30">
                                                <li>
                                                      <button class="ct_select_badge">Hyaluronic Acid</button>
                                                </li>
                                                <li>
                                                      <button class="ct_select_badge">Vitamin C</button>
                                                </li>


                                          </ul>
                                    </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button class="ct_outline_btn">Cancel</button>
                                    <button class="ct_black_btn">Save Changes</button>

                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>