<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">Help & Support</h4>
                              <p class="mb-0">View or raise support tickets</p>

                              <div
                                    class="d-flex align-items-center gap-3 justify-content-between mt-4 ct_flex_col_1199">
                                    <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                          <div class="form-group position-relative ct_w_100_767">
                                                <input type="text" class="form-control ct_input ct_input_pe_40"
                                                      placeholder="Search tickets">
                                                <i class="fa-solid fa-search ct_show_eye"></i>
                                          </div>
                                          <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                                <span class="ct_white_nowrap">Filter by:</span>
                                                <div class="form-group position-relative ct_w_100_767">
                                                      <input type="date" class="form-control ct_input">
                                                </div>

                                          </div>
                                    </div>
                                    <div class="ct_w_100_767">
                                          <a routerLink="raise-ticket" class="ct_black_btn gap-2 ct_w_100_767"><svg
                                                      width="20" height="21" viewBox="0 0 20 21" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M10 6.9V14.1M6.4 10.5H13.6M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z"
                                                            stroke="white" stroke-width="1.8" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                </svg>
                                                Raise Ticket</a>
                                    </div>
                              </div>
                        </div>

                        <div class="table-responsive mt-4 ct_custom_table">
                              <table class="table ">
                                    <thead>
                                          <tr>
                                                <th>Ticket ID</th>
                                                <th>Creation Date</th>
                                                <th>Issue Description</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr>
                                                <td>TK-001</td>
                                                <td>
                                                      Jan 15, 2024
                                                </td>
                                                <td>
                                                      <p class="mb-0 ct_overlay_text">Unable to access patient records
                                                      </p>
                                                </td>
                                                <td>
                                                      <span class="ct_dark_yellow_text">Pending</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex align-items-center gap-3">
                                                            <a routerLink="detail"><i class="fa-regular fa-eye"></i></a>
                                                      </div>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td>TK-001</td>
                                                <td>
                                                      Jan 15, 2024
                                                </td>
                                                <td>
                                                      <p class="mb-0 ct_overlay_text">Unable to access patient records
                                                      </p>
                                                </td>
                                                <td>
                                                      <span class="ct_green_text">Resolved</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex align-items-center gap-3">
                                                            <a routerLink="detail"><i
                                                                        class=" fa-regular fa-eye"></i></a>
                                                      </div>
                                                </td>
                                          </tr>
                                          <tr>
                                                <td>TK-001</td>
                                                <td>
                                                      Jan 15, 2024
                                                </td>
                                                <td>
                                                      <p class="mb-0 ct_overlay_text">Unable to access patient records
                                                      </p>
                                                </td>
                                                <td>
                                                      <span class="ct_dark_yellow_text">Pending</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex align-items-center gap-3">
                                                            <a routerLink="detail"><i
                                                                        class=" fa-regular fa-eye"></i></a>
                                                      </div>
                                                </td>
                                          </tr>


                                    </tbody>


                              </table>

                        </div>

                  </div>
            </div>


      </div>
</div>