<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">Help & Support</h4>
                              <p class="mb-0">View or raise support tickets</p>
                              <div
                                    class="d-flex align-items-center gap-3 justify-content-between mt-4 ct_flex_col_1199">
                                    <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                          <div class="form-group position-relative ct_w_100_767">
                                                <input type="text" class="form-control ct_input ct_input_pe-40"
                                                      placeholder="Search tickets" (input)="searchTickets($event)"
                                                      #search>
                                                <i class="fa-solid fa-search ct_show_eye"></i>
                                          </div>
                                          <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                                <span class="ct_white_nowrap">Filter by:</span>
                                                <div class="form-group position-relative ct_w_100_767">
                                                      <input type="date" class="form-control ct_input"
                                                            (change)="filterByDate($event)" #date>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="ct_w_100_767 d-flex align-items-center gap-3">
                                          <a routerLink="raise-ticket" class="ct_black_btn gap-2 ct_w_100_767"><svg
                                                      width="20" height="21" viewBox="0 0 20 21" fill="none"
                                                      xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M10 6.9V14.1M6.4 10.5H13.6M19 10.5C19 15.4706 14.9706 19.5 10 19.5C5.02944 19.5 1 15.4706 1 10.5C1 5.52944 5.02944 1.5 10 1.5C14.9706 1.5 19 5.52944 19 10.5Z"
                                                            stroke="white" stroke-width="1.8" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                </svg>
                                                Raise Ticket</a>
                                          <button
                                                class="ct_form_next action-button ct_black_btn float-end mx-1 ct_outline_btn"
                                                (click)="exportTableToCSV()">Export CSV</button>
                                    </div>
                              </div>
                              @if(auth.getRoleName() == 'doctor'){
                              <ul class="nav nav-pills mb-3 ct_custom_tabs" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link"
                                                [ngClass]="{'active': activeTab == 'admin' || activeTab == ''}"
                                                id="pills-Upcoming-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Upcoming" type="button" role="tab"
                                                aria-controls="pills-Upcoming" aria-selected="true"
                                                (click)="filterBy('admin')">Admin</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" [ngClass]="{'active': activeTab == 'clinic'}"
                                                id="pills-Completed-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Completed" type="button" role="tab"
                                                aria-controls="pills-Completed" aria-selected="false"
                                                (click)="filterBy('clinic')">Clinic</button>
                                    </li>
                              </ul>
                              }
                              @if(auth.getRoleName() == 'clinic'){
                              <ul class="nav nav-pills mb-3 ct_custom_tabs" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link"
                                                [ngClass]="{'active': activeTab == 'me' || activeTab == ''}"
                                                id="pills-Upcoming-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Upcoming" type="button" role="tab"
                                                aria-controls="pills-Upcoming" aria-selected="true"
                                                (click)="filterBy('me')">Your Tickets</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" [ngClass]="{'active': activeTab == 'doctor'}"
                                                id="pills-Completed-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Completed" type="button" role="tab"
                                                aria-controls="pills-Completed" aria-selected="false"
                                                (click)="filterBy('doctor')">Tickets by Dr.</button>
                                    </li>
                              </ul>
                              }
                        </div>

                        <div class="table-responsive mt-4 ct_custom_table">
                              <table class="table " id="myTable">
                                    <thead>
                                          <tr>
                                                <th>S.No</th>
                                                @if(activeTab == 'clinic' || activeTab == 'doctor'){
                                                <th>Name</th>
                                                <th>Email</th>
                                                }
                                                <th>Ticket Title</th>
                                                <th>Creation Date</th>
                                                <th>Issue Description</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          @if(tickets$ | async; as items){
                                          @for(ticket of tickets; track ticket.support_ticket_id; let i = $index){
                                          <tr>
                                                <td>{{i + 1}}</td>
                                                @if(activeTab == 'clinic' || activeTab == 'doctor'){
                                                <td class="">
                                                      {{ticket.clinic?.clinic_name || ticket.doctor?.name}}
                                                </td>
                                                <td>{{ticket.clinic?.email || ticket.doctor?.email}}</td>
                                                }
                                                <td>
                                                      <p class="mb-0 ct_overlay_text">
                                                            {{ticket.issue_title}}
                                                      </p>
                                                </td>
                                                <td>
                                                      {{ticket.created_at | date:'dd MMM, yyyy'}}
                                                </td>
                                                <td>
                                                      <p class="mb-0 ct_overlay_text">
                                                            {{ticket.issue_description}}
                                                      </p>
                                                </td>
                                                <td>
                                                      <span
                                                            [ngClass]="{'ct_green_text': ticket.admin_response || ticket.clinic_response, 'ct_dark_yellow_text': !ticket.admin_response && !ticket.clinic_response}">{{ticket.admin_response || ticket.clinic_response ? 'Resolved' : 'Pending'}}</span>
                                                </td>
                                                <td>
                                                      <div class="d-flex align-items-center gap-3">
                                                            <a (click)="viewTicket(ticket)"><i
                                                                        class="fa-regular fa-eye"></i></a>
                                                      </div>
                                                </td>
                                          </tr>
                                          }
                                          }
                                          @if(tickets.length == 0){
                                          <tr>
                                                <td colspan="6" class="text-center">No tickets found</td>
                                          </tr>
                                          }
                                    </tbody>
                              </table>
                        </div>
                  </div>
            </div>
      </div>
</div>