<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="d-flex align-items-center gap-3 mb-4 justify-content-between ct_flex_col_1199">
                        <div>
                            <h4 class="ct_fs_22 ct_fw_600 mb-0 ct_text_black">Chat Management</h4>
                        </div>
                    </div>
                </div>
                @if (doctorProfile$ | async; as doctor) {
                <div class="chat-area">
                    <!-- chatlist -->
                    <div class="chatlist ct_chatroom_chatlist">
                        <div class="modal-dialog-scrollable ">
                            <div class="modal-content ">
                                <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap mb-3">
                                    <h4 class="ct_fs_16 mb-0 ct_fw_700 ct_nunito_font">Contacts</h4>
                                    <h4 class="ct_fs_16 mb-0 ct_fw_700 ct_nunito_font ct_text_op_07">{{chatlist.length}}
                                    </h4>

                                </div>
                                <div class="position-relative">
                                    <input type="text" class="form-control ct_input ct_input_ps_40 ct_input_h_40"
                                        (input)="searchFilter($event)" placeholder="Search">
                                    <i class="fa-solid fa-search ct_input_icon_left"></i>

                                </div>
                                <div class="modal-body mt-4 ct_custom_scrollbar">
                                    <!-- chat-list -->
                                    <div class="chat-lists ">
                                        <div class="chat-list">
                                            @if(chatlist.length == 0) {
                                            <div class="d-flex align-items-center justify-content-center">
                                                <h4 class="ct_fs_16 mb-0 ct_fw_700 ct_nunito_font">No Chats Found</h4>
                                            </div>
                                            }
                                            @for (item of chatlist; track $index) {
                                            <a (click)="openChat(item)" class="d-flex"
                                                [ngClass]="{'active2': item.id == activeChatDetails?.id}">
                                                <div class="ct_chat_list_grid">
                                                    <div class="position-relative">
                                                        <img class="img-fluid ct_img_40"
                                                            [src]="item.profile_image || 'assets/img/doctor.png'"
                                                            alt="user img">
                                                        <!-- <span class="active"></span> -->
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <div
                                                            class="d-flex align-items-center gap-2 justify-content-between">
                                                            <h3 class="ct_fs_16 ct_fw_600">{{item.full_name}}
                                                            </h3>
                                                            <!-- <div class="ct_caht_msg_notify ">
                                                                <span class="ms-auto">1</span>
                                                            </div> -->
                                                        </div>
                                                        <div
                                                            class="d-flex align-items-center gap-2 justify-content-between">
                                                            <p class="ct_fs_14 ct_overlay_text ct_overlay_text_w_150">
                                                                {{item.last_message === '' ? "Sent a file"  : item.last_message}}
                                                            </p>
                                                            <span class=" text-end d-block ct_fs_12
                                                            ct_text_939393">
                                                                {{item.last_message_at | date:'hh:mm a'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            }
                                        </div>
                                    </div>
                                    <!-- chat-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatlist -->

                    <!-- chatbox -->
                    <div class="chatbox ">
                        <div class="ct_white_bg ct_border_radius_10 ct_p_20 h-100">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content ct_chatroom_modal_content">
                                    @if(activeChatDetails) {
                                    <div class="">
                                        <div
                                            class="msg-head d-flex align-items-center justify-content-between gap-3 flex-wrap pb-1">
                                            <div class="d-flex align-items-center gap-2 ">
                                                <i class="fa-solid fa-chevron-left chat-icon"></i>
                                                <div class="ct_grid_50_auto">
                                                    <img [src]="activeChatDetails.profile_image || 'assets/img/doctor.png'"
                                                        alt="">
                                                    <div>
                                                        <h4 class="ct_fs_18 ct_fw_600  mb-0">
                                                            {{activeChatDetails.full_name}}
                                                        </h4>
                                                        <!-- <span class="mb-0 ct_text_939393">
                                                            Online
                                                        </span> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div (click)="startCall()" style="cursor: pointer;">
                                                <svg width="30" height="29" viewBox="0 0 30 29" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M26.6052 10.5265C26.6052 9.80941 26.6052 9.45087 26.4605 9.28484C26.3349 9.14078 26.1465 9.06433 25.9537 9.0792C25.7315 9.09633 25.4727 9.34985 24.955 9.85691L20.5635 14.1587L24.955 18.4606C25.4727 18.9676 25.7315 19.2212 25.9537 19.2383C26.1465 19.2532 26.3349 19.1767 26.4605 19.0326C26.6052 18.8666 26.6052 18.5081 26.6052 17.791V10.5265Z"
                                                        stroke="#282828" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path
                                                        d="M2.43823 11.5547C2.43823 9.56591 2.43823 8.57154 2.83334 7.81193C3.18089 7.14377 3.73545 6.60053 4.41755 6.26008C5.19299 5.87305 6.2081 5.87305 8.23832 5.87305H14.7634C16.7936 5.87305 17.8087 5.87305 18.5842 6.26008C19.2663 6.60053 19.8208 7.14377 20.1684 7.81193C20.5635 8.57154 20.5635 9.56591 20.5635 11.5547V16.7628C20.5635 18.7516 20.5635 19.746 20.1684 20.5056C19.8208 21.1737 19.2663 21.717 18.5842 22.0574C17.8087 22.4444 16.7936 22.4444 14.7634 22.4444H8.23832C6.2081 22.4444 5.19299 22.4444 4.41755 22.0574C3.73545 21.717 3.18089 21.1737 2.83334 20.5056C2.43823 19.746 2.43823 18.7516 2.43823 16.7628V11.5547Z"
                                                        stroke="#282828" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>

                                            </div> -->
                                        </div>
                                        <div class="modal-body">
                                            <div class="msg-body ct_custom_scrollbar"
                                                [ngClass]="{'ct_chat_ing_preview_active' : previewFiles.length > 0 }"
                                                [scrollTop]="scrollMe.scrollHeight" #scrollMe>
                                                <ul>
                                                    @for (item of messageList; track $index) {
                                                    @if(item.sender_id !== doctor.data.id){
                                                    <li>
                                                        <div class="sender">
                                                            @if (item.files?.length > 0) {
                                                            <div class="d-flex gap-2 flex-wrap align-items-start">
                                                                @for (file of item.files; track $index) {
                                                                @if (file.file?.endsWith('.jpg') ||
                                                                file.file?.endsWith('.jpeg') ||
                                                                file.file?.endsWith('.png') ||
                                                                file.file?.endsWith('.webp')) {
                                                                <img nz-image [nzSrc]="file.file" class="img-fluid m-1"
                                                                    style="width: 120px; height: 120px; border-radius: 10px;" />
                                                                } @else if (file.file?.endsWith('.pdf')) {
                                                                <a [href]="file.file" target="_blank"
                                                                    class="d-flex flex-column align-items-center text-decoration-none m-1">
                                                                    <img src="assets/img/pdf.png"
                                                                        style="width: 120px; height: 120px; border-radius: 10px;" />
                                                                </a>
                                                                } @else if (file.file?.endsWith('.mp4') ||
                                                                file.file?.endsWith('.webm') ||
                                                                file.file?.endsWith('.ogg')) {
                                                                <video controls
                                                                    style="width: 120px; height: 120px; object-fit: cover; border-radius: 10px;"
                                                                    class="m-1">
                                                                    <source [src]="file.file" type="video/mp4" />
                                                                </video>
                                                                } @else {
                                                                <div class="m-1 text-muted">Unsupported file</div>
                                                                }
                                                                }
                                                            </div>
                                                            }
                                                            <p class="mb-1">
                                                                {{item.message}}
                                                            </p>
                                                            <span
                                                                class="time ms-auto d-block ct_text_939393">{{item.createdAt | date:'dd/MM/yyyy - hh:mm a'}}</span>
                                                        </div>
                                                    </li>
                                                    } @else{
                                                    <li>
                                                        <div class="repaly">
                                                            @if (item.files?.length > 0) {
                                                            <div class="d-flex gap-2 flex-wrap align-items-start">
                                                                @for (file of item.files; track $index) {
                                                                @if (file.file?.endsWith('.jpg') ||
                                                                file.file?.endsWith('.jpeg') ||
                                                                file.file?.endsWith('.png') ||
                                                                file.file?.endsWith('.webp')) {
                                                                <img nz-image [nzSrc]="file.file" class="img-fluid m-1"
                                                                    style="width: 120px; height: 120px; border-radius: 10px;" />
                                                                } @else if (file.file?.endsWith('.pdf')) {
                                                                <a [href]="file.file" target="_blank"
                                                                    class="d-flex flex-column align-items-center text-decoration-none m-1">
                                                                    <img src="assets/img/pdf.png"
                                                                        style="width: 120px; height: 120px; border-radius: 10px;" />
                                                                </a>
                                                                } @else if (file.file?.endsWith('.mp4') ||
                                                                file.file?.endsWith('.webm') ||
                                                                file.file?.endsWith('.ogg')) {
                                                                <video controls
                                                                    style="width: 120px; height: 120px; object-fit: cover; border-radius: 10px;"
                                                                    class="m-1">
                                                                    <source [src]="file.file" type="video/mp4" />
                                                                </video>
                                                                } @else {
                                                                <div class="m-1 text-muted">Unsupported file</div>
                                                                }
                                                                }
                                                            </div>
                                                            }
                                                            <p class="mb-1">{{item.message}}</p>
                                                            <span
                                                                class="time text-end">{{item.createdAt | date:'dd/MM/yyyy - hh:mm a'}}</span>
                                                        </div>
                                                    </li>
                                                    <!-- <li>
                                                        <div class="repaly">
                                                            <div class="d-flex align-items-center gap-2 mb-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                    height="16" fill="currentColor"
                                                                    class="bi bi-camera-video-off ct_mt_minus_2"
                                                                    viewBox="0 0 16 16" fill="#ff0000">
                                                                    <path fill-rule="evenodd"
                                                                        d="M10.961 12.365a2 2 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l.714 1H9.5a1 1 0 0 1 1 1v6a1 1 0 0 1-.144.518zM1.428 4.18A1 1 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014l.714 1H2a2 2 0 0 1-2-2V5c0-.675.334-1.272.847-1.634zM15 11.73l-3.5-1.555v-4.35L15 4.269zm-4.407 3.56-10-14 .814-.58 10 14z" />
                                                                </svg>
                                                                <p class="mb-0 ct_fW_600"
                                                                    style="color: #ff0000;line-height: 16px;">Call
                                                                    Cancelled</p>
                                                            </div>
                                                            <span
                                                                class="time text-start">{{item.createdAt | date:'dd/MM/yyyy - hh:mm a'}}</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="repaly">
                                                            <div class="d-flex align-items-center gap-2 mb-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-camera-video-off ct_mt_minus_2" viewBox="0 0 16 16" fill="#ff0000">
                                                                <path fill-rule="evenodd" d="M10.961 12.365a2 2 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l.714 1H9.5a1 1 0 0 1 1 1v6a1 1 0 0 1-.144.518zM1.428 4.18A1 1 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014l.714 1H2a2 2 0 0 1-2-2V5c0-.675.334-1.272.847-1.634zM15 11.73l-3.5-1.555v-4.35L15 4.269zm-4.407 3.56-10-14 .814-.58 10 14z"/>
                                                              </svg> 
                                                                <i class="fa-solid fa-phone-missed ct_mt_minus_2"></i>
                                                                <p class="mb-0 ct_fW_600"
                                                                    style="color: #ff0000;line-height: 16px;">Call
                                                                    Cancelled</p>
                                                            </div>
                                                            <span
                                                                class="time text-start">{{item.createdAt | date:'dd/MM/yyyy - hh:mm a'}}</span>
                                                        </div>
                                                    </li> -->
                                                    }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="send-box px-0 position-relative">
                                            <div *ngIf="previewFiles.length > 0" class="preview-container">
                                                <div *ngFor="let file of previewFiles" class="preview">
                                                    <img *ngIf="file.type.startsWith('image/')" [src]="file.url"
                                                        alt="File preview" />
                                                    <img *ngIf="file.type.startsWith('video/')"
                                                        src="assets/img/video.png" alt="File preview" />
                                                    <img *ngIf="file.type.startsWith('application/pdf')"
                                                        src="assets/img/pdf.png" alt="File preview" />
                                                    <i (click)="removeFile(file)" class="fa fa-minus-circle remove"
                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <form action="" class="position-relative">
                                                <label for="upload_chat_img_2" class="ct_upload_paper_click_img">
                                                    <input type="file" class="d-none" id="upload_chat_img_2"
                                                        accept="image/*, application/pdf, video/*"
                                                        (change)="onFileChange($event)" multiple>
                                                    <div>
                                                        <i class="fa-solid fa-paperclip"></i>
                                                    </div>
                                                </label>
                                                <textarea [(ngModel)]="message" type="text"
                                                    class="form-control ct_input_h_40"
                                                    placeholder="Type your message here."
                                                    [ngModelOptions]="{standalone: true}"
                                                    (keydown)="onKeyDown($event)"></textarea>
                                                <div class="ct_right_side_send_chat_btns">
                                                    @if(uploading){
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <path fill="none" stroke="currentColor" stroke-dasharray="16"
                                                            stroke-dashoffset="16" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2"
                                                            d="M12 3c4.97 0 9 4.03 9 9">
                                                            <animate fill="freeze" attributeName="stroke-dashoffset"
                                                                dur="0.2s" values="16;0" />
                                                            <animateTransform attributeName="transform" dur="1.5s"
                                                                repeatCount="indefinite" type="rotate"
                                                                values="0 12 12;360 12 12" />
                                                        </path>
                                                    </svg>
                                                    } @else {
                                                    <i class="fa fa-paper-plane ct_cursor_pointer"
                                                        (click)="sendMessage()"></i>
                                                    }
                                                    <!-- <i class="fa-regular fa-paper-plane"></i> -->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    } @else{
                                    <!-- when chat is empty then show below content -->
                                    <div class="ct_empty_chat_box_content">
                                        <svg width="123" height="123" viewBox="0 0 123 123" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect x="0.956267" y="1.3696" width="120.87" height="120.87" rx="60.4348"
                                                fill="#F4F5FA" />
                                            <rect x="0.956267" y="1.3696" width="120.87" height="120.87" rx="60.4348"
                                                stroke="#E1E2E9" stroke-width="0.869565" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M76.764 77.1737C70.1202 83.8182 60.2823 85.2538 52.2315 81.5305C51.043 81.052 50.0686 80.6653 49.1423 80.6653C46.5621 80.6806 43.3505 83.1824 41.6814 81.5152C40.0122 79.8459 42.516 76.6318 42.516 74.036C42.516 73.1096 42.1446 72.1526 41.6661 70.9618C37.9411 62.9123 39.3787 53.0711 46.0225 46.4288C54.5036 37.9445 68.2828 37.9445 76.764 46.4266C85.2605 54.924 85.2452 68.6916 76.764 77.1737Z"
                                                fill="#BEC0CA" stroke="#8B8D97" stroke-width="1.30435"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M69.9541 62.7022H69.9737" stroke="#8B8D97" stroke-width="1.73913"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M61.2412 62.7022H61.2608" stroke="#8B8D97" stroke-width="1.73913"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M52.5244 62.7022H52.544" stroke="#8B8D97" stroke-width="1.73913"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        <div class="ct_empty_chat_box_content_text mt-3">
                                            <h4 class="ct_fs_20 ct_fw_600">Messages</h4>
                                            <p>Click on a contact to view messages.</p>
                                            <div class="">
                                                <a href="#" class="ct_purple_btn d-flex align-items-center gap-2"><svg
                                                        width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M15.8447 16.039C13.1871 18.6968 9.25198 19.271 6.03167 17.7817C5.55627 17.5903 5.16651 17.4356 4.79598 17.4356C3.7639 17.4417 2.47927 18.4425 1.81162 17.7756C1.14396 17.1079 2.14545 15.8222 2.14545 14.7839C2.14545 14.4133 1.99688 14.0305 1.8055 13.5542C0.315505 10.3344 0.890529 6.39795 3.54805 3.74101C6.94052 0.347298 12.4522 0.347298 15.8447 3.74014C19.2432 7.1391 19.2371 12.6461 15.8447 16.039Z"
                                                            stroke="white" stroke-width="1.30435" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M13.1203 10.2505H13.1281" stroke="white"
                                                            stroke-width="1.73913" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M9.63595 10.2505H9.64377" stroke="white"
                                                            stroke-width="1.73913" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M6.14962 10.2505H6.15745" stroke="white"
                                                            stroke-width="1.73913" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                    <!-- <span> New Message</span> -->
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="startCall()">Start</button> -->

<div id="zego-container"></div>