.clinic_images {
      height: 150px;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
}

.ct_grid_4_new {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px
}

@media screen and (max-width:767px) {
      .ct_grid_4_new {
            grid-template-columns: repeat(2, 1fr);
      }
}

.ct_custom_badge12 {
      padding: 6px 14px;
      border-radius: 10px;
      background-color: #f5f5f5;
      border: 1px solid #e6e6e6;
}