<div class="ct_dashbaord_bg" style="background-color: hsl(90.81deg 92.5% 31.37% / 7%);">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="ct_white_bg_1 ct_sucessful_msg_body">
                    <img src="assets/img/Right_Icon.png" alt="">

                    <h3 class="ct_fs_24 text-center ct_fw_700 mb-0" style="margin-top: 30PX;">Payment
                        Successfully
                    </h3>


                    <a [href]="redirectUrl" style="padding: 13px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid #000;
  background-color: #000;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  transition: 0.4s ease all;
  width: fit-content;margin-left: auto;margin-right: auto; margin-top: 24px;
  color: #fff;
  overflow: hidden;">Redirect in {{ countdown }} seconds...</a>
                </div>
            </div>
        </div>
    </div>
</div>