.cutom_dropdown_list {
      position: absolute;
      background: #fff;
      width: 100%;
      padding: 10px 0px;
      box-shadow: 0px 0px 4px #9f9f9f;
      max-height: 25vh;
      overflow: auto;
      border-radius: 10px;
      z-index: 1;
}

.cutom_dropdown_list .list_item {
      padding: 5px 10px;
      cursor: pointer;
      margin: 5px 0px;
}

.cutom_dropdown_list .list_item:hover {
      background: var(--black);
      color: #fff;
      border-radius: 10px;
}

.cutom_dropdown_list {
      position: absolute;
      background: #fff;
      width: 100%;
      padding: 10px 0px;
      box-shadow: 0px 0px 4px #9f9f9f;
      max-height: 25vh;
      overflow: auto;
      border-radius: 10px;
      z-index: 1;
}

.cutom_dropdown_list .list_item {
      padding: 5px 10px;
      cursor: pointer;
      margin: 5px 0px;
}

.cutom_dropdown_list .list_item:hover {
      background: var(--black);
      color: #fff;
      border-radius: 10px;
}

#overLay {
      position: fixed;
      background: transparent;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
}

button.ct_delete_icon_l {
      width: 30px;
      height: 30px;
      border-radius: 6px;
      background-color: #d41019;
      color: #fff;
      border: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.ct_grid_40_40_20 {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      gap: 15px;
}

.ct_custom_check.form-check-input:checked {
      background-color: var(--black);
      border-color: var(--black);
}

.status-div {
      position: absolute;
      top: 20px;
      right: 0;
}

.custom-input-dropdown.dropdown-toggle::after {
      display: none !important;
}

.ct_multiselect_custom_dopbox {
      background-color: #fff;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
      padding: 10px;
      border-radius: 5px;
      height: auto;
      height: 322px;
      overflow-y: auto;
      border: 1px solid #e6e6e6;
      display: none;
      position: absolute;
      /* top: 0; */
      left: 0;
      width: 100%;
      /* height: 100%; */
      background-color: #fff;
      z-index: 9;
}

.ct_multiselect_custom_dopbox.active {
      display: block;
}

.ct_all_selected_tag {
      border: 1px solid #e1e1e1;
      height: auto;
      /* max-height: 100px; */
      min-height: 50px;
      overflow-y: auto;
      border-radius: 10px;
      padding: .375rem .75rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
}

.ct_all_selected_tag ul {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
}

.ct_all_selected_tag small {
      cursor: pointer;
}

.ct_all_selected_tag ul li:not(:last-child) {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: #f5f5f5;
      padding: 4px 10px;
      border-radius: 2px;
}

#overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: transparent;
      z-index: 2;
}