<div class="ct_px_30  mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">{{'AppointmentsOverview' | translate}}
                              </h4>
                              <p class="mb-0">{{'AppointmentTitle' | translate}}</p>
                              <div
                                    class="d-flex align-items-center gap-3 justify-content-between mt-4 ct_flex_col_1199">
                                    <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                          <div class="form-group position-relative ct_w_100_767">
                                                <input type="text" class="form-control ct_input ct_input_pe_40"
                                                      placeholder="{{'Search' | translate}}" #search
                                                      (input)="searchFilter($event)">
                                                <i class="fa-solid fa-search ct_show_eye"></i>
                                          </div>
                                          <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                                <span class="ct_white_nowrap">{{'filterBy' | translate}}:</span>
                                                <div class="form-group position-relative ct_w_100_767">
                                                      <input type="date" class="form-control ct_input"
                                                            (change)="filterByDate($event)" #date>
                                                </div>
                                          </div>
                                          <div class="d-flex align-items-center gap-3 ct_flex_col_767 ct_w_100_767">
                                                <span class="ct_white_nowrap">{{'filterBy' | translate}}:</span>
                                                <div class="form-group position-relative ct_w_100_767">
                                                      <select class="form-control ct_input"
                                                            (change)="filterByType($event)">
                                                            <option value="">{{'Type' | translate}}</option>
                                                            <option value="Video Call">{{'VideoCall' | translate}}
                                                            </option>
                                                            <option value="Clinic Visit">{{'ClinicVisit' | translate}}
                                                            </option>
                                                      </select>
                                                </div>
                                          </div>
                                    </div>
                                    <button
                                          class="ct_form_next action-button ct_black_btn float-end mx-1 ct_outline_btn"
                                          (click)="exportTableToCSV()">{{'ExportCSV' | translate}}</button>
                              </div>

                              <ul class="nav nav-pills mb-3 ct_custom_tabs" id="pills-tab" role="tablist">
                                    <!-- <li class="nav-item" role="presentation">
                                          <button class="nav-link active" id="pills-Pending-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Pending" type="button" role="tab"
                                                aria-controls="pills-Pending" aria-selected="true">Pending</button>
                                    </li> -->
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" [ngClass]="{'active': status === 'Scheduled'}"
                                                id="pills-Scheduled-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Scheduled" type="button" role="tab"
                                                aria-controls="pills-Scheduled" aria-selected="false"
                                                (click)="filterByStatus('Scheduled')">{{'Scheduled' |
                                                translate}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" [ngClass]="{'active': status === 'Ongoing'}"
                                                ngClass="" id="pills-Ongoing-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Ongoing" type="button" role="tab"
                                                aria-controls="pills-Ongoing" aria-selected="false"
                                                (click)="filterByStatus('Ongoing')">{{'Ongoing' | translate}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" [ngClass]="{'active': status === 'Completed'}"
                                                ngClass="" id="pills-Completed-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Completed" type="button" role="tab"
                                                aria-controls="pills-Completed" aria-selected="false"
                                                (click)="filterByStatus('Completed')">{{'Completed' |
                                                translate}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="pills-Rescheduled-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Rescheduled" type="button" role="tab"
                                                aria-controls="pills-Rescheduled" aria-selected="false"
                                                (click)="filterByStatus('Rescheduled')">{{'Rescheduled' |
                                                translate}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="pills-Missed-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Missed" type="button" role="tab"
                                                aria-controls="pills-Missed" aria-selected="false"
                                                (click)="filterByStatus('Missed')">{{'Missed' | translate}}</button>
                                    </li>
                              </ul>
                        </div>

                        @if(appointments$ | async; as appointments){
                        <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-Upcoming" role="tabpanel"
                                    aria-labelledby="pills-Upcoming-tab">
                                    <div class="table-responsive mt-4 ct_custom_table">
                                          <table class="table" id="myTable">
                                                <thead>
                                                      <tr>
                                                            <th>S.No</th>
                                                            <!-- <th>Doctor Name</th> -->
                                                            <th>{{'PatientName' | translate}}</th>
                                                            <th>{{'contactNumber' | translate}}</th>
                                                            <th>{{'StartTime' | translate}}</th>
                                                            <th>{{'EndTime' | translate}}</th>
                                                            <th>{{'ClinicName' | translate}}</th>
                                                            <th>{{'Type' | translate}}</th>
                                                            <th>{{'Action' | translate}}</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      @if(appointment.length == 0){
                                                      <tr>
                                                            <td colspan="8" class="text-center">{{'NoDataFound' |
                                                                  translate}}</td>
                                                      </tr>
                                                      }
                                                      @for (item of appointment; track $index) {
                                                      <tr>
                                                            <td>{{$index + 1}}</td>
                                                            <!-- <td>Dr. John Smith</td> -->
                                                            <td class="">{{item.full_name}}</td>
                                                            <td>{{item.mobile_number}}</td>
                                                            <td>
                                                                  <p class="mb-1">
                                                                        {{item.start_time | date:'dd-MM-yyyy - HH:mm'}}
                                                                  </p>
                                                            </td>
                                                            <td>
                                                                  <p class="mb-0">
                                                                        {{item.end_time | date:'dd-MM-yyyy - HH:mm'}}
                                                                  </p>
                                                            </td>
                                                            <td class="">{{item.clinic_name || 'N/A'}}</td>
                                                            <td>{{item.type || 'N/A'}}</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a (click)="viewDetails(item)"
                                                                              title="View Details"><i
                                                                                    class="fa-regular fa-eye text-primary"></i></a>
                                                                        @if(item.status !== 'Completed'){
                                                                        <a (click)="appointment_id = item.appointment_id; slotDate = item.start_time; onChange(item.start_time)"
                                                                              data-bs-toggle="modal"
                                                                              data-bs-target="#ct_unlink_modal"
                                                                              title="Reschedule"><i
                                                                                    class="fa fa-calendar"
                                                                                    aria-hidden="true"></i>
                                                                        </a>
                                                                        }
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      }
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                              <!-- <div class="tab-pane fade" id="pills-Completed" role="tabpanel"
                                    aria-labelledby="pills-Completed-tab">
                                    <div class="table-responsive mt-4 ct_custom_table">
                                          <table class="table ">
                                                <thead>
                                                      <tr>
                                                            <th>S.No</th>
                                                            <th>Doctor Name</th>
                                                            <th>Patient Name</th>
                                                            <th>Fee</th>
                                                            <th>Date & Time</th>
                                                            <th>Type</th>
                                                            <th>Action</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>
                                                            <td>1</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>2</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Video Call</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>3</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>4</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="pills-Rescheduled" role="tabpanel"
                                    aria-labelledby="pills-Rescheduled-tab">
                                    <div class="table-responsive mt-4 ct_custom_table">
                                          <table class="table ">
                                                <thead>
                                                      <tr>
                                                            <th>S.No</th>
                                                            <th>Doctor Name</th>
                                                            <th>Patient Name</th>
                                                            <th>Fee</th>
                                                            <th>Date & Time</th>
                                                            <th>Type</th>
                                                            <th>Action</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>
                                                            <td>1</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>2</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Video Call</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>3</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>4</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                    </div>
                              </div>
                              <div class="tab-pane fade" id="pills-Cancelled" role="tabpanel"
                                    aria-labelledby="pills-Cancelled-tab">
                                    <div class="table-responsive mt-4 ct_custom_table">
                                          <table class="table ">
                                                <thead>
                                                      <tr>
                                                            <th>S.No</th>
                                                            <th>Doctor Name</th>
                                                            <th>Patient Name</th>
                                                            <th>Fee</th>
                                                            <th>Date & Time</th>
                                                            <th>Type</th>
                                                            <th>Action</th>
                                                      </tr>
                                                </thead>
                                                <tbody>
                                                      <tr>
                                                            <td>1</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>2</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Video Call</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>3</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td>4</td>
                                                            <td>Dr. John Smith</td>
                                                            <td>Wade Warren</td>
                                                            <td>$12</td>
                                                            <td>
                                                                  <p class="mb-1">May 8, 2025</p>
                                                                  <p class="mb-0">10:00 AM</p>
                                                            </td>
                                                            <td>Offline</td>
                                                            <td>
                                                                  <div class="d-flex align-items-center gap-3">
                                                                        <a routerLink="details"><i
                                                                                    class="fa-regular fa-eye"></i></a>
                                                                  </div>
                                                            </td>
                                                      </tr>
                                                </tbody>
                                          </table>
                                    </div>
                              </div> -->
                        </div>
                        }
                  </div>
            </div>
      </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                              Image Preview
                        </h5>
                        <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="ct_full_view_img">
                              <img src="../assets/img/user_1.png" alt="">
                        </div>
                  </div>

            </div>
      </div>
</div>

<!-- Unlink Modal S -->
<div class="modal fade modal-md" id="ct_unlink_modal" tabindex="-1" aria-labelledby="ct_unlink_modalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pb-0">
                        <!-- <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0"
                            id="ct_unlink_modalLabel">
                            Image Preview
                        </h5> -->
                        <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-center">
                        <nz-date-picker nzInline [(ngModel)]="slotDate"
                              (ngModelChange)="onChange($event)"></nz-date-picker>
                        <div class="mt-3">
                              <h2 class="ct_fs_20 ct_fw_600 mb-3">{{slotDate | date}}</h2>
                              @if (slots.length == 0) {
                              <p class="ct_fs_18 mb-0 text-center">No Slots Available for {{slotDate | date}}</p>
                              }
                              <div class="ct_grid_2 mb-3">
                                    @for (item of slots; track $index) {
                                    <button class="ct_white_btn" type="button" [disabled]="item.status == 'booked'"
                                          [ngClass]="{
                                                   'opacity-50': item.status == 'booked',
                                                     'bg-dark text-white':   selectedSlot == item
                                                   }" (click)="selectSlot(item)">
                                          {{ convertTime(item.start_time) | date: 'h:mm a' }} -
                                          {{ convertTime(item.end_time) | date: 'h:mm a' }}
                                    </button>
                                    }
                              </div>
                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button type="button" class="ct_outline_btn" data-bs-dismiss="modal"
                                          aria-label="Close" #closeButton>Cancel</button>
                                    <button type="button" class="ct_black_btn" (click)="schedule()">
                                          @if(loading){
                                          <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                          </div>
                                          }@else {
                                          Schedule
                                          }
                                    </button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<!-- Unlink Modal E -->