<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-5">
                              <a (click)="location.back()" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Order Management </span>
                                    <span class="ct_text_op_07 ct_fs_16"> / Order Details</span>
                              </h4>
                        </div>

                        <div class="col-md-12">
                              <h4 class="ct_fs_22 ct_fw_600 mb-4">Order Details (<span
                                          [ngClass]="orderData.shipment_status == 'PENDING' ? 'ct_dark_yellow_text' : orderData.shipment_status == 'SHIPPED' ? 'ct_orange_text' : 'ct_green_text'"
                                          class="ct_fs_16">{{orderData.shipment_status}}</span>)</h4>
                              <div
                                    class="table-responsive ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 mt-2">
                                    <h4 class="ct_fs_22 ct_fw_600 mb-2">Order Summary</h4>
                                    <table class="table ct_transparent_table mb-0">
                                          <tbody>
                                                <tr>
                                                      <td class="ct_text_op_05 w-50">Order ID:</td>
                                                      <td>ZYNQ-{{orderData.purchase_id}}</td>
                                                </tr>
                                                <tr>
                                                      <td class="ct_text_op_05  w-50">Order Date:</td>
                                                      <td>{{orderData.purchase_date | date:'dd-MM-yyyy - HH:mm'}}</td>
                                                </tr>
                                                <tr>
                                                      <td class="ct_text_op_05  w-50">Total Amount:</td>
                                                      <td>{{orderData.total_price | currency:'SEK '}}</td>
                                                </tr>
                                                <!-- <tr>
                                                      <td class="ct_text_op_05  w-50">Payment Status:</td>
                                                      <td>Paid</td>
                                                </tr> -->
                                                <!-- <tr>
                                                      <td class="ct_text_op_05 w-50">Shipping Method</td>
                                                      <td>Standard Delivery (5-7 Days)</td>
                                                </tr>
                                                <tr>
                                                      <td class="ct_text_op_05 w-50">Tracking Number:</td>
                                                      <td>1234567890</td>
                                                </tr> -->
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        <div class="col-md-12 mt-4">
                              <h4 class="ct_fs_22 ct_fw_600 mb-3">Customer Details</h4>
                              <div
                                    class="table-responsive ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                                    <table class="table ct_transparent_table mb-0">
                                          <tbody>
                                                <tr>
                                                      <td class="ct_text_op_05 w-50">Customer Name:</td>
                                                      <td class="">{{orderData.user.name}}</td>
                                                </tr>
                                                <tr>
                                                      <td class="ct_text_op_05 w-50">Phone:</td>
                                                      <td>{{orderData.user.mobile_number}}</td>
                                                </tr>
                                                <tr>
                                                      <td class="ct_text_op_05 w-50">Shipping Address:</td>
                                                      <td>{{orderData.address}}</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                        </div>


                        <div class="col-md-12 mt-4">
                              <h4 class="ct_fs_22 ct_fw_600 mb-3">Product Details</h4>
                              <div
                                    class="table-responsive ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20">
                                    <table class="table ct_transparent_table">
                                          <thead>
                                                <tr>
                                                      <th class="ct_fw_600">Product Image</th>
                                                      <th class="ct_fw_600">Product Name</th>
                                                      <th class="ct_fw_600">Quantity</th>
                                                      <th class="ct_fw_600">Price</th>
                                                      <th class="ct_fw_600">Subtotal</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                @for (item of orderData.products; track $index) {
                                                <tr>
                                                      <td>
                                                            <img [src]="item.product_images[0]" class="ct_img_40" />
                                                      </td>
                                                      <td class="ct_text_op_05 ">{{item.name}}</td>
                                                      <td class="ct_text_op_05">{{item.cart_quantity}}</td>
                                                      <td class="ct_text_op_05 ">
                                                            {{item.price | currency:'SEK '}}
                                                      </td>
                                                      <td class="ct_text_op_05 ">
                                                            {{(item.price * item.cart_quantity) | currency:'SEK '}}
                                                      </td>
                                                </tr>
                                                }
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        <!-- <div class="col-md-12 mt-4 ">
                              <h4 class="ct_fs_22 ct_fw_600 mb-3">Order Timeline</h4>
                              <ul class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20">
                                    <li class="mt-0">
                                          <span class="ct_fw_600">Order Placed:</span> Feb 18, 2025 -
                                          2:45 PM
                                    </li>
                              </ul>
                        </div> -->
                  </div>
            </div>
      </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                  <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                              Image Preview
                        </h5>
                        <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <div class="ct_full_view_img">
                              <img src="../assets/img/user_3.png" alt="">
                        </div>
                  </div>

            </div>
      </div>
</div>