<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-5">
                              <a routerLink="/main/doctors" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span class="ct_fw_600">Help & Support </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          View Ticket</span>
                              </h4>
                        </div>

                        <div class="ct_white_bg ct_py_28_px_20 ct_border_radius_10 ct_border_clr_D2D5DB">
                              <div class="d-flex align-items-center gap-3 flex-wrap justify-content-between">
                                    <p class="mb-0"><span class="ct_fw_600">Ticket ID: </span> <span
                                                class="ct_grey_text">#TK-2023-1234</span></p>
                                    <button class="ct_custom_badge">Resolved</button>
                              </div>
                        </div>
                        <div class="ct_white_bg ct_py_28_px_20 ct_border_radius_10 ct_border_clr_D2D5DB pe-0 mt-4">
                              <ul>
                                    <li>
                                          <h6 class="ct_fs_20 ct_fw_600 mb-2">Title</h6>
                                          <p class="mb-0 ct_grey_text">Clinic Profile Update Not Saving</p>
                                    </li>
                                    <li class="mt-3">
                                          <h6 class="ct_fs_20 ct_fw_600 mb-2">Date Raised</h6>
                                          <p class="mb-0 ct_grey_text">Jan 15, 2024</p>
                                    </li>
                                    <li class="mt-3">
                                          <h6 class="ct_fs_20 ct_fw_600 mb-2">Issue Category</h6>
                                          <p class="mb-0 ct_grey_text">Profile Management</p>
                                    </li>
                                    <li class="mt-3 ">
                                          <h6 class="ct_fs_20 ct_fw_600 mb-2">Description</h6>
                                          <p class="mb-0 ct_grey_text ct_para_scroll ct_custom_scroll ct_pe_30">"I’ve
                                                been
                                                trying
                                                to update my clinic's address and working hours, but the changes aren’t
                                                saving. Every time I hit the ‘Save’ button, it either refreshes the page
                                                or
                                                shows a ‘Something went wrong’ error. I’ve also tried re-uploading the
                                                clinic logo and certifications, but nothing seems to reflect on the live
                                                profile. Please assist in resolving this issue as soon as possible since
                                                patients rely on this info."</p>
                                    </li>
                              </ul>
                        </div>
                        <div class="ct_white_bg ct_py_28_px_20 ct_border_radius_10 ct_border_clr_D2D5DB mt-4 pe-0">
                              <div>
                                    <h5 class="ct_fs_20 ct_fw_600 mb-1">Response from Support Team</h5>
                                    <p class="mb-0 ct_grey_text">Responded on Jan 20, 2024</p>
                                    <div class="mt-3 ct_para_scroll ct_custom_scroll ct_pe_30">
                                          <p class="mb-1 ct_grey_text">"Thank you for reporting this issue. Our
                                                technical
                                                team has identified a
                                                temporary server glitch affecting the clinic profile update
                                                functionality.
                                                We’ve deployed a fix, and the issue should now be resolved.</p>
                                          <p class="mb-0 ct_grey_text">Please clear your browser cache and try updating
                                                your profile
                                                again. If the
                                                problem persists, don’t hesitate to reach out. We appreciate your
                                                patience!"
                                          </p>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>