<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_py_28_px_20">
                              <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                                    <div>
                                          <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">Notifications</h4>
                                          <p class="mb-0">Get notified about appointments, messages, and system updates.
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="table-responsive mt-4">
                              <div class="ct_light_black_bg d-flex align-items-center gap-3 justify-content-between">
                                    <p class="mb-0 ct_fw_600">All </p>
                                    <p class="mb-0 ct_red_text"> <i class="fa-solid fa-trash-can mw-2"></i>
                                          Delete All</p>

                              </div>
                              <ul class="mt-5 ct_notifications_scroll ct_custom_scroll">
                                    <li class="d-flex align-items-center gap-2 justify-content-between">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                                                <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr.
                                                      Ayesha
                                                      for 10 May,
                                                      4:00 PM.</p>
                                          </div>
                                          <p class="mb-0"><span class="ct_circle_dot_8"></span> 2 hours ago</p>
                                    </li>
                                    <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                                                <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr.
                                                      Ayesha
                                                      for 10 May,
                                                      4:00 PM.</p>
                                          </div>
                                          <p class="mb-0"><span class="ct_circle_dot_8"></span> 2 hours ago</p>
                                    </li>
                                    <li class="d-flex align-items-center gap-2 justify-content-between mt-4">
                                          <div>
                                                <h5 class="ct_fs_18 ct_fw_600 mb-1">Appointment Booked</h5>
                                                <p class="mb-0 ct_grey_text">John soul booked an appointment with Dr.
                                                      Ayesha
                                                      for 10 May,
                                                      4:00 PM.</p>
                                          </div>
                                          <p class="mb-0"><span class="ct_circle_dot_8"></span> 2 hours ago</p>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</div>