<div class="ct_px_30  mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                                    <div>
                                          <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">{{'Change' | translate}}
                                                {{'Password' | translate}}
                                          </h4>
                                          <p class="mb-0">{{'ChangeYourPassword' | translate}}</p>
                                    </div>
                              </div>
                        </div>
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                              <div class="mt-5">
                                    <div class="form-group mb-3">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">{{'Current' | translate}}
                                                {{'Password' | translate}}</label>
                                          <div class="position-relative">
                                                <input type="{{ isShowCurrentPassword ? 'text' : 'password' }}"
                                                      placeholder="{{'Current' | translate}} {{'Password' | translate}}"
                                                      name="text" autocomplete="off" class="form-control ct_input"
                                                      formControlName="current_password" maxlength="15">
                                                <i class="fa-regular ct_show_eye"
                                                      [ngClass]="isShowCurrentPassword ? 'fa-eye' : 'fa-eye-slash' "
                                                      (click)="isShowCurrentPassword = !isShowCurrentPassword"></i>
                                          </div>
                                          <div *ngIf="Form.controls['current_password']?.invalid && Form.controls['current_password'].touched"
                                                class="ct_text_red mt-2">
                                                <div *ngIf="Form.controls['current_password'].errors?.['required']">
                                                      {{'Current' | translate}} {{'Password' | translate | lowercase}}
                                                      {{'isRequired' | translate}}.
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group mb-3">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">{{'New' | translate}}
                                                {{'Password' | translate}}</label>
                                          <div class="position-relative">
                                                <!-- <input type="text" class="form-control ct_input">
                                    <i class="fa-regular fa-eye-slash ct_show_eye"></i> -->
                                                <input type="{{ isShowNewPassword ? 'text' : 'password' }}"
                                                      placeholder="{{'New' | translate}} {{'Password' | translate}}"
                                                      name="text" autocomplete="off" class="form-control ct_input"
                                                      formControlName="newPassword">
                                                <i class="fa-regular ct_show_eye"
                                                      [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash' "
                                                      (click)="isShowNewPassword = !isShowNewPassword"></i>
                                          </div>
                                          <div *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                                                class="ct_text_red mt-2">
                                                {{'NewPasswordSameAsCurrent' | translate}}
                                          </div>
                                          <div *ngIf="Form.controls['newPassword'].invalid && Form.controls['newPassword'].touched"
                                                class="ct_text_red mt-2">
                                                <div *ngIf="Form.controls['newPassword'].errors?.['required']"
                                                      class="ct_fs_14 mt-1">
                                                      {{'NewPasswordRequired' | translate}}
                                                </div>
                                                <div
                                                      *ngIf="Form.controls['newPassword'].errors?.['strongPassword'] && !Form.controls['newPassword'].errors?.['required']">

                                                      <div *ngIf="
                                            !Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                                            class="ct_fs_14 mt-1">
                                                            {{'NewPasswordLength' | translate}}
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                                            {{'NewPasswordUppercase' | translate}}
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                                            {{'NewPasswordLowercase' | translate}}
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                                            {{'NewPasswordNumber' | translate}}
                                                      </div>
                                                      <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                                            {{'NewPasswordSpecial' | translate}}
                                                      </div>
                                                </div>
                                          </div>
                                    </div>

                                    <div class="form-group mb-3">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">{{'Confirm' | translate}}
                                                {{'Password' | translate}}</label>
                                          <div class="position-relative">
                                                <input type="{{ isShowConfPassword ? 'text' : 'password' }}"
                                                      placeholder="{{'Confirm' | translate}} {{'Password' | translate}}"
                                                      name="text" autocomplete="off" class="form-control ct_input"
                                                      formControlName="confPassword" maxlength="15">
                                                <i class="fa-regular ct_show_eye"
                                                      [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash' "
                                                      (click)="isShowConfPassword = !isShowConfPassword"></i>
                                          </div>
                                          <div *ngIf="Form.controls['confPassword'].touched" class="ct_text_red mt-2">
                                                <div *ngIf="Form.controls['confPassword'].errors?.['required']">
                                                      {{'ConfirmPasswordRequired' | translate}}
                                                </div>
                                                <div
                                                      *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confPassword'].errors?.['required']">
                                                      {{'PasswordMismatch' | translate}}.
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button type="button" class="ct_outline_btn" (click)="location.back()">{{'Cancel' |
                                          translate}}</button>
                                    <button type="submit" class="ct_black_btn" [disabled]="loading">
                                          @if(loading){
                                          <div class="spinner-border" role="status">
                                                <span class="sr-only">Loading...</span>
                                          </div>
                                          }@else {
                                          {{'SaveChanges' | translate}}
                                          }
                                    </button>
                              </div>
                        </form>

                        <!-- <form action="" class="mt-5">
                              <div class="mt-5">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">Current Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="Current Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter Current Password</span>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">New Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="New Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter New Password</span>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">Confirm Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="Confirm Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter Confirm Password</span>
                                    </div>
                              </div>

                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button class="ct_outline_btn">Cancel</button>
                                    <button class="ct_black_btn">Save Changes</button>
                              </div>
                        </form> -->
                  </div>
            </div>
      </div>
</div>