<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                                    <div>
                                          <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">Change Password</h4>
                                          <p class="mb-0">Change Your Password</p>
                                    </div>
                              </div>
                        </div>

                        <form action="" class="mt-5">
                              <div class="mt-5">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">Current Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="Current Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter Current Password</span>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">New Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="New Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter New Password</span>
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black ct_fw_600">Confirm Password</label>
                                          <div class="position-relative">
                                                <input type="password" placeholder="Confirm Password"
                                                      class="form-control ct_input  ct_input_pe_40">
                                                <i class="fa-solid fa-eye-slash ct_show_eye"></i>
                                          </div>
                                          <span class="ct_text_red mt-2 d-none">Please Enter Confirm Password</span>
                                    </div>
                              </div>

                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button class="ct_outline_btn">Cancel</button>
                                    <button class="ct_black_btn">Save Changes</button>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>