<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="d-flex align-items-center gap-3 mb-5">
                              <a (click)="location.back()" class="ct_back_icon"><i
                                          class="fa-solid fa-chevron-left"></i></a>
                              <h4 class="ct_fs_24 ct_black_text mb-0"><span
                                          class="ct_fw_600">{{'MyProfile' | translate}} </span>
                                    <span class="ct_text_op_07 ct_fs_16"> /
                                          {{'EditProfile' | translate}}</span>
                              </h4>
                        </div>
                        <app-solo-profile-setup [isEdit]="true" />
                  </div>
            </div>
      </div>
</div>