<section class="ct_login_main">
      <div class="ct_login_left position-relative">
            <img src="assets/img/login-left.png" alt="">
            <div class="ct_login_btm_logo">
                  <img src="assets/img/logo1.svg" alt="">
            </div>
      </div>
      <div class="ct_login_right">
            <div class="mb-5">
                  <h4 class="ct_fs_44  ct_fw_600 ">{{'createNewPassword' | translate}}</h4>
                  <p class="mb-0 ct_text_clr_444 ct_fs_18">
                        {{'resetPasswordTitle' | translate}}
                  </p>
            </div>
            <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                  <div class="form-group mb-3">
                        <label for="" class="mb-2 ct_text_black ct_fw_600">{{'New' | translate}}
                              {{'Password' | translate}}</label>
                        <div class="position-relative">
                              <!-- <input type="text" class="form-control ct_input">
                                    <i class="fa-regular fa-eye-slash ct_show_eye"></i> -->
                              <input type="{{ isShowNewPassword ? 'text' : 'password' }}"
                                    placeholder="{{'New' | translate}} {{'Password' | translate}}" name="text"
                                    autocomplete="off" class="form-control ct_input" formControlName="newPassword">
                              <i class="fa-regular ct_show_eye"
                                    [ngClass]="isShowNewPassword ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="isShowNewPassword = !isShowNewPassword"></i>
                        </div>
                        <div *ngIf="Form.errors?.['sameAsCurrent'] && !Form.controls['newPassword'].errors?.['required']"
                              class="ct_text_red mt-2">
                              {{'NewPasswordSameAsCurrent' | translate}}
                        </div>
                        <div *ngIf="Form.controls['newPassword'].invalid && Form.controls['newPassword'].touched"
                              class="ct_text_red mt-2">
                              <div *ngIf="Form.controls['newPassword'].errors?.['required']" class="ct_fs_14 mt-1">
                                    {{'NewPasswordRequired' | translate}}
                              </div>
                              <div
                                    *ngIf="Form.controls['newPassword'].errors?.['strongPassword'] && !Form.controls['newPassword'].errors?.['required']">

                                    <div *ngIf="
                                            !Form.controls['newPassword'].errors?.['strongPassword'].isValidLength"
                                          class="ct_fs_14 mt-1">
                                          {{'NewPasswordLength' | translate}}
                                    </div>
                                    <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                          {{'NewPasswordUppercase' | translate}}
                                    </div>
                                    <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                          {{'NewPasswordLowercase' | translate}}
                                    </div>
                                    <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                          {{'NewPasswordNumber' | translate}}
                                    </div>
                                    <div *ngIf="!Form.controls['newPassword'].errors?.['strongPassword'].hasSpecialCharacter &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasNumeric &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasLowerCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].hasUpperCase &&
                        Form.controls['newPassword'].errors?.['strongPassword'].isValidLength" class="ct_fs_14 mt-1">
                                          {{'NewPasswordSpecial' | translate}}
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="form-group mb-3">
                        <label for="" class="mb-2 ct_text_black ct_fw_600">{{'Confirm' | translate}}
                              {{'New' | translate}}
                              {{'Password' | translate}}</label>
                        <div class="position-relative">
                              <input type="{{ isShowConfPassword ? 'text' : 'password' }}"
                                    placeholder="{{'Confirm' | translate}} {{'New' | translate}} {{'Password' | translate}}"
                                    name="text" autocomplete="off" class="form-control ct_input"
                                    formControlName="confPassword" maxlength="15">
                              <i class="fa-regular ct_show_eye"
                                    [ngClass]="isShowConfPassword ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="isShowConfPassword = !isShowConfPassword"></i>
                        </div>
                        <div *ngIf="Form.controls['confPassword'].touched" class="ct_text_red mt-2">
                              <div *ngIf="Form.controls['confPassword'].errors?.['required']">
                                    {{'ConfirmPasswordRequired' | translate}}
                              </div>
                              <div
                                    *ngIf="Form.errors?.['passwordMismatch'] && !Form.controls['confPassword'].errors?.['required']">
                                    {{'PasswordMismatch' | translate}}
                              </div>
                        </div>
                  </div>
                  <div class="mt-3 mb-2">
                        <button class="ct_black_btn w-100" type="submit" [disabled]="loading">
                              @if(loading){
                              <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                              </div>
                              }@else {
                              {{'Submit' | translate}}
                              }
                        </button>
                  </div>
            </form>
      </div>
</section>