<section class="ct_login_main">
    <div class="ct_login_left position-relative">
          <img src="assets/img/login-left.png" alt="">
          <div class="ct_login_btm_logo">
                <img src="assets/img/logo.svg" alt="">

          </div>

    </div>
    <div class="ct_login_right">
          <h4 class="ct_fs_44  ct_fw_600 mb-5 text-center">Welcome to ZYNQ</h4>
         <div>
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-4">
                    <div class="ct_white_bg ct_role_card_select ct_py_28_px_20  ct_border_radius_10 ct_border_clr_D2D5DB">
                       
                        <h5 class="ct_fs_20 ct_fw_700 mb-4 text-center">Clinic</h5>
                       <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Multi-Doctor Support</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Clinic & Doctor Profiles</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Product Management</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Appointment Management</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Doctor Availability Management</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Billing & Invoicing</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Reports & Analytics</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Promotions & Offers</span>
                        </li>
                        
                       </ul>
                       <div class="mt-4 mx-auto mt-auto ">
                        <button class="ct_black_btn mx-auto ">Clinic</button>
                       </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="ct_white_bg ct_role_card_select ct_py_28_px_20  ct_border_radius_10 ct_border_clr_D2D5DB">
                        <h5 class="ct_fs_20 ct_fw_700 mb-4 text-center">Solo Doctor</h5>
                       <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <span>Merged Clinic & Doctor Profile</span>
                        </li>
                            <li>
                                <i class="fa-solid fa-check"></i>
                                <span>Product Management</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-check"></i>
                                <span>Appointment Management</span>
                            </li>
                         
                            <li>
                                <i class="fa-solid fa-check"></i>
                                <span>Billing & Invoicing</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-check"></i>
                                <span>Reports & Insights</span>
                            </li>
                            <li>
                                <i class="fa-solid fa-check"></i>
                                <span>Promotions & Client Engagement</span>
                            </li>
                        
                       </ul>
                       <div class="mt-4 mx-auto mt-auto">
                        <button class="ct_black_btn mx-auto ">Solo Doctor</button>
                       </div>
                    </div>
                </div>

            </div>
         </div>
          
    </div>
</section>