<div class="ct_px_30 mt-4 pb-4">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 ">
                              <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                                    <div>
                                          <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">Edit Profile</h4>
                                          <p class="mb-0">Edit Profile Info</p>
                                    </div>
                              </div>
                        </div>

                        <form action="" class="mt-5">
                              <div class="">
                                    <div class="ct_profile_img">
                                          <img src="../assets/img/user_3.png" alt="">
                                          <label for="ct_profile_update">
                                                <input type="file" class="d-none" id="ct_profile_update">
                                                <div class="ct_upload_icon">
                                                      <img src="../assets/img/upload_icon.png" alt="">
                                                </div>
                                          </label>
                                    </div>
                                    <h4 class="ct_fs_24 ct_fw_600 mb-0 text-center mt-4">Dr. Michael Anderson</h4>
                              </div>
                              <div class="mt-5">
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black">Full Name</label>
                                          <input type="text" class="form-control ct_input" placeholder="Enter Full Name"
                                                value="Dr. Michael Anderson">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black">Email Address</label>
                                          <input type="email" class="form-control ct_input"
                                                placeholder="Enter Email Address" value="m.michael@medicaps.com">
                                    </div>
                                    <div class="form-group mb-4">
                                          <label for="" class="mb-2 ct_text_black">Phone Number</label>
                                          <input type="text" class="form-control ct_input"
                                                placeholder="Enter Phone Number" value="(555) 123-4567">
                                    </div>
                              </div>

                              <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
                                    <button class="ct_outline_btn">Cancel</button>
                                    <button class="ct_black_btn">Save Changes</button>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>