<header class="ct_header">
      <div class="container d-flex align-items-center justify-content-between">
            <div class="ct_logo">
                  <img src="assets/img/logo.svg" />
            </div>
            <div class="ct_language_select dropdown ">
                  <img [src]="selectedLang == 'sv' ? 'assets/img/Flag_of_Sweden.svg.png' : 'assets/img/Flag_of_the_United_States.svg.png'"
                        alt="" class="dropdown_img" style="width: 20px; margin-right: 5px;">
                  <button class="dropdown-toggle  py-2 mt-0" data-bs-toggle="dropdown"
                        aria-expanded="false">{{selectedLang == 'sv' ?
                        'Swedish' : 'English'}}</button>
                  <ul class="dropdown-menu">
                        <li>
                              <a class="dropdown-item" (click)="onCustomLangChange('sv')">
                                    <img src="assets/img/Flag_of_Sweden.svg.png" alt="" style="width: 20px;">
                                    Swedish
                              </a>
                        </li>
                        <li>
                              <a class="dropdown-item" (click)="onCustomLangChange('en')">
                                    <img src="assets/img/Flag_of_the_United_States.svg.png" alt="" style="width: 20px;">
                                    English
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</header>