<div class="">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-3 ct_fs_20 ct_fw_600">{{'SuggestTreatments' | translate}}</h3>
        @if(!isOnCall){
        <i class="fa-solid fa-xmark ct_fs_18" (click)="closeVideoRightSidebar()"></i>
        }
    </div>
    <div class="table-responsive" style="max-height: 50vh;">
        <table class="table ct_custom_table">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border p-2">
                        <input class="form-check-input ct_custom_check" type="checkbox" [checked]="isAllSelected()"
                            [indeterminate]="isIndeterminate()" (change)="onAllCheckboxChange($event)" />
                    </th>
                    <th class="border p-2">{{'Treatment' | translate}}</th>
                    <th class="border p-2">{{'Price' | translate}}</th>
                    <th class="border p-2"></th>
                </tr>
            </thead>
            <tbody>
                @if(recommendedTreatments.length == 0){
                <tr>
                    <td colspan="4" class="text-center p-4">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="spinner-border text-dark " role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span class="ms-2">{{'LoadingTreatments' | translate}}</span>
                        </div>
                    </td>
                </tr>
                }
                @for (item of recommendedTreatments; track $index) {
                <tr>
                    <td class="border p-2 text-center">
                        <div class="text-start">
                            <input class="form-check-input ct_custom_check" type="checkbox" [checked]="isChecked(item)"
                                [indeterminate]="isParentIndeterminate(item)"
                                (change)="onParentCheckboxChange(item, $event)" />
                        </div>
                    </td>
                    <td class="border p-2">{{ item.name }}</td>
                    <td class="border p-2" style="width: 200px;">
                        {{ item.price | currency: 'SEK ' }}
                    </td>
                    <td class="border p-2 align-middle text-center" style="width:40px">
                        @if(item.sub_treatments && item.sub_treatments.length > 0){
                        <a href="javascript:void(0)" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseRecommendedSubTreatments'+$index"
                            [attr.aria-expanded]="'false'"
                            [attr.aria-controls]="'collapseRecommendedSubTreatments'+$index"
                            (click)="toggleRecommendedCollapse(recommendedCollapseStates, $index)">
                            <i class="fa" [ngClass]="{
                                                                        'fa-chevron-down': !(recommendedCollapseStates[ $index ]),
                                                                        'fa-chevron-up': recommendedCollapseStates[ $index ]
                                                                  }"></i>
                        </a>
                        }
                    </td>
                </tr>
                @if(item.sub_treatments && item.sub_treatments.length > 0){
                <tr class="collapse" [id]="'collapseRecommendedSubTreatments'+$index">
                    <td colspan="4" class="p-0 border-0">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="border p-2"></th>
                                    <th class="border p-2">{{'SubTreatment' | translate}}</th>
                                    <th class="border p-2">{{'Price' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (sub of item.sub_treatments; track $index) {
                                <tr>
                                    <td class="border p-2 text-center">
                                        <div class="text-start">
                                            <input class="form-check-input ct_custom_check" type="checkbox"
                                                [checked]="isSubChecked(sub, item)"
                                                (change)="onSubCheckboxChange(sub, item, $event)" />
                                        </div>
                                    </td>
                                    <td class="border p-2">{{ sub.name }}</td>
                                    <td class="border p-2" style="width: 200px;">
                                        {{ sub.price | currency: 'SEK ' }}
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>

    </div>
    <div class="d-flex align-items-center gap-2 mt-4">
        <input class="form-check-input ct_custom_check" type="checkbox" [(ngModel)]="isApplyDiscount"
            (change)="toggleDiscount($event)" [ngModelOptions]="{standalone:true}" id="flexCheckDefault123">
        <label class="form-check-label ct_fs_16 ct_fw_600 mb-0"
            for="flexCheckDefault123">{{'doYouWantToProvideADiscount' | translate}}</label>
    </div>
    @if(isApplyDiscount){
    <div class="d-flex align-items-center gap-5 mt-4">
        <label>
            <input type="radio" class="form-check-input ct_custom_check me-2" [value]="'SEK'" [(ngModel)]="discountType"
                [ngModelOptions]="{standalone:true}" (change)="calculateDiscount()" />
            {{'Amount' | translate}} (SEK)
        </label>
        <label>
            <input type="radio" class="form-check-input ct_custom_check me-2" [value]="'PERCENTAGE'"
                [(ngModel)]="discountType" [ngModelOptions]="{standalone:true}" (change)="calculateDiscount()" />
            {{'Percent' | translate}} (%)
        </label>
    </div>
    <div class="mt-4">
        <input class="form-control ct_input" type="number" [(ngModel)]="discount" [ngModelOptions]="{standalone:true}"
            (ngModelChange)="calculateDiscount()"
            placeholder="Enter discount {{discountType == 'PERCENTAGE' ? 'percentage' : 'amount'}}">
        <p *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</p>
    </div>
    }
    <div class="mt-4">
        <div class="d-block">
            <p class="ct_fs_16 ct_fw_600 d-flex align-items-center gap-2 justify-content-between">
                <span>{{'TotalPrice' | translate}} :</span> <span>{{totalAmount | currency:'SEK '}}</span>
            </p>
            <p class="ct_fs_16 ct_fw_600 d-flex align-items-center gap-2 justify-content-between">
                <span>{{'Discount' | translate}} :</span> <span>{{discountAmount | currency:'SEK '}}</span>
            </p>
            <p class="ct_fs_16 ct_fw_600 d-flex align-items-center gap-2 justify-content-between">
                <span>{{'GrandTotal' | translate}} :</span><span> {{netAmount | currency:'SEK '}}</span>
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button class="ct_black_btn gap-2" (click)="suggestTreatments()" [disabled]="loading">
            @if(loading){
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            }@else {
            {{'SaveChanges' | translate}}
            }
        </button>
    </div>
</div>