/* You can add global styles to this file, and also import other style files */

body {
    top: 0 !important;
}

.ct_text_red {
    color: rgb(180, 0, 0);
}

.ant-select-selection-search-input {
    height: 52px !important;
    border: none !important;
    background: transparent !important;
}

.ant-select-selector {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.ant-select-single .ant-select-selection-placeholder {
    font-size: 16px !important;
    color: #666 !important;
    margin-top: 12px !important;
}

.ant-select-single .ant-select-selection-item {
    margin-top: 12px !important;
    font-size: 16px !important;
}

.multi_select .ant-select-selection-item,
.multi_select .ant-select-selection-placeholder {
    font-size: 16px !important;
    margin-top: 0 !important;
}

.main-carousel img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.thumb-carousel img {
    height: 80px;
    width: auto;
}

.ct_thumb_gallery_top_20 .owl-carousel {
    margin-top: 15px;
}

#overLay {
    position: fixed;
    background: transparent;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.spinner-border {
    --bs-spinner-width: 1.2rem !important;
    --bs-spinner-height: 1.2rem !important;
}

.ant-select-selector {
    height: 100% !important;
}


/* ///////////////////////////////////// */

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
    display: none !important;
}

.goog-te-gadget-simple {
    background-image: url('./assets/img/438-4387359_change-language-earth-icon-png.png') !important;
}

.goog-te-gadget-simple {
    height: 23px;
    width: 25px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position-y: -3px;
    background-position-x: -9px;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

.goog-te-gadget-icon {
    display: none !important;
}

.goog-te-gadget {
    font-size: 6px !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none !important;
}

.VIpgJd-ZVi9od-vH1Gmf {
    background-color: #0d1132 !important;
}


.ngx-slider .ngx-slider-selection {
    background: #2631f8 !important;
}

.ngx-slider .ngx-slider-pointer {
    width: 20px !important;
    height: 20px !important;
    top: -8px !important;
    background-color: #2631f8 !important;
}

.ngx-slider .ngx-slider-pointer:after {
    width: 4px !important;
    height: 4px !important;
    top: 8px !important;
    left: 8px !important;
}

.VIpgJd-yAWNEb-L7lbkb {
    display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
    background-color: transparent !important;
    box-shadow: none !important;
}


.iti.iti--allow-dropdown {
    /* height: 48px !important; */
    width: 100% !important;
}

.dropdown-menu.iti__dropdown-content.show {
    padding: 5px !important;
    overflow: auto !important;
    height: auto !important;
}

.iti__selected-flag {
    height: 100% !important;
}

.dropdown-menu.iti__dropdown-content.show {
    padding: 5px !important;
    overflow: auto !important;
    height: auto !important;
    width: 19rem;
}

.iti__country-list {
    overflow-y: hidden !important;
}

.ct_custom_table thead {
    position: sticky;
    top: -1px;
    z-index: 9;
}

.ct_see_more_link {
    color: #0d1132;
}

.ant-picker-date-panel .ant-picker-content,
.ant-picker-date-panel,
.ant-picker-decade-panel,
.ant-picker-month-panel,
.ant-picker-quarter-panel,
.ant-picker-time-panel,
.ant-picker-week-panel,
.ant-picker-year-panel {
    width: 100% !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    background-color: #000 !important;
    border-radius: 100px !important;
    width: 30px !important;
    height: 30px !important;

}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before,
.ant-picker-cell .ant-picker-cell-inner {
    border-radius: 100px !important;
    width: 30px !important;
    height: 30px !important;
    border-color: #000 !important;
    line-height: 35px !important;
}

.ant-picker-panel-container {
    border-radius: 10px !important;
    box-shadow: none !important;
    border: 1px solid #eee !important;
}

.ant-image-preview-operations-wrapper {
    display: none;
}

img.ngx-ic-source-image {
    max-width: 500px !important;
    max-height: 500px !important;
}

.alert-message p {
    color: #c91308;
    font-size: 18px;
    font-weight: 500;
}

.BYpXSnOHfrC2td4QRijO {
    width: 65vw !important;
    transition: all 0.4s ease;
}

.H6djxujDyBWSH05jmS1c .uZoQf64y4d6SwZG57wWu {
    margin-bottom: 9.6667vh !important;
}

.H6djxujDyBWSH05jmS1c .XWDFXsBYBiqb0bccz5aa {
    margin: 0px auto 17.667vh !important;
}

cdk-virtual-scroll-viewport {
    height: 300px !important;
}

.cutom_dropdown_list .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
    display: none !important;
}

.cutom_dropdown_list .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent !important;
}