<section class="ct_login_main">
  <div class="ct_login_left position-relative">
    <img src="assets/img/login-left.png" alt="">
    <div class="ct_login_btm_logo">
      <img src="assets/img/logo1.svg" alt="">
    </div>
  </div>
  <div class="ct_login_right">
    <div class="mb-5">
      <h4 class="ct_fs_44  ct_fw_600 ">{{'Forgot' | translate}} {{'Password' | translate}}?</h4>
      <p class="mb-0 ct_text_clr_444 ct_fs_18">{{'forgetPasswordTitle' | translate}}
      </p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <div class="position-relative">
          <div class="ct_input_icon_left">
            <img src="assets/img/icons/oui_email.svg" alt="">
          </div>
          <input type="email" placeholder="{{'Enter' | translate}} {{'Email' | translate}}"
            class="form-control ct_input ct_input_ps_40 ct_input_pe_40" formControlName="email" />
        </div>
        <!-- Error Message -->
        <span class="ct_text_red mt-2" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <span *ngIf="email?.errors?.['required']">{{'Email' | translate}} {{'isRequired' | translate}}</span>
          <span *ngIf="email?.errors?.['email']">{{'Invalid' | translate}} {{'Email' | translate}}</span>
        </span>
      </div>
      <div class="mt-3 mb-2">
        <button class="ct_black_btn w-100 " type="submit" [disabled]="loading">
          @if(loading){
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          }@else {
          {{'Submit' | translate}}
          }
        </button>
      </div>
      <p class="mb-0 text-center">
        <span class="ct_text_op_06">{{'knowYourPassword' | translate}} ?</span>
        <a routerLink="/" class="ct_text_black ct_fw_600"> {{'Login' | translate}}</a>
      </p>
    </form>
  </div>
</section>