<div class="ct_px_30 mt-4 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_1199">
                        <div>
                            <h4 class="ct_fs_22 ct_fw_600 mb-2 ct_text_black">My Profile</h4>
                        </div>
                        <div class="ct_w_100_767">
                            <a routerLink="/doctor/edit-profile" class="ct_black_btn gap-2 ct_w_100_767">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.16751 3.1661L13.8342 7.83276M9.83418 15.1661H15.1675M9.88351 3.08943C10.3802 2.55143 10.6282 2.28276 10.8922 2.12543C11.2038 1.93889 11.5591 1.83777 11.9223 1.83227C12.2855 1.82677 12.6437 1.91708 12.9608 2.0941C13.2295 2.24343 13.4855 2.50476 13.9975 3.02743C14.5095 3.55076 14.7655 3.81276 14.9108 4.08676C15.0843 4.41303 15.1724 4.77783 15.1672 5.14728C15.1619 5.51674 15.0634 5.87888 14.8808 6.2001C14.7275 6.46943 14.4642 6.72343 13.9368 7.23076L7.66818 13.2688C6.66951 14.2308 6.17018 14.7114 5.54618 14.9554C4.92218 15.1994 4.23618 15.1808 2.86418 15.1454L2.67751 15.1401C2.26018 15.1294 2.05085 15.1241 1.93018 14.9861C1.80818 14.8481 1.82485 14.6354 1.85818 14.2101L1.87618 13.9794C1.96951 12.7821 2.01618 12.1834 2.24951 11.6448C2.48285 11.1061 2.88685 10.6694 3.69351 9.79543L9.88351 3.08943Z"
                                        stroke="white" stroke-width="1.25" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                Edit Profile</a>
                        </div>
                    </div>
                </div>
                @if (doctorProfile$ | async; as doctor) {
                @if (doctor.success) {
                <form action="">
                    <div class="mt-5 ct_white_bg ct_p_20 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <div class="">
                            <div class="ct_profile_img" data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <img [src]="doctor.data.profile_image ? doctor.data.profile_image : 'assets/img/doctor.png'"
                                    alt="">

                            </div>
                            <h4 class="ct_fs_24 ct_fw_600 mb-0 text-center mt-4">{{doctor.data.name}}</h4>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_text_black">Full Name<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter full name"
                                        value="{{doctor.data.name}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_text_black">Email<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter email"
                                        value="{{doctor.data.email}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="" class="mb-2 ct_text_black">Phone No.<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter phone no"
                                        value="{{doctor.data.phone}}" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ct_white_bg ct_p_20 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <h5 class="ct_fs_20 ct_ff_ambit_semibold mb-3">Education</h5>

                        <div class="row" *ngFor="let edu of doctor.data.education; let i = index">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Institute<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter institute"
                                        value="{{edu.institution}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Degree<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter degree"
                                        value="{{edu.degree}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Start year<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter degree"
                                        value="{{edu.start_year}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">End year<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter degree"
                                        value="{{edu.end_year}}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ct_white_bg ct_p_20 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <h5 class="ct_fs_20 ct_ff_ambit_semibold mb-3">Experience</h5>

                        <div class="row" *ngFor="let exp of doctor.data.experience; let i = index">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Organization<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter organization"
                                        value="{{exp.organization}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Designation<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" placeholder="Enter organization"
                                        value="{{exp.designation}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Start Date<span
                                            class="ct_red_text">*</span></label>
                                    <input type="date" class="form-control ct_input"
                                        [value]="exp.start_date | date:'yyyy-MM-dd'" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">End Date<span
                                            class="ct_red_text">*</span></label>
                                    <input type="date" class="form-control ct_input"
                                        [value]="exp.end_date | date:'yyyy-MM-dd'" disabled>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ct_white_bg ct_p_40 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <h5 class="ct_fs_20 ct_ff_ambit_semibold mb-3">Services & Expertise</h5>
                        <div class="mb-4">

                            <ul class="d-flex align-items-center gap-3 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30"
                                *ngFor="let service of doctor.data.treatments; let i = index">
                                <li>
                                    <button class="ct_select_badge">{{service.name}} <span></span></button>
                                </li>

                            </ul>


                        </div>

                        <div class="mb-4">
                            <label for="" class="mb-3 ct_text_black ct_fw_600 ct_fs_18">Skin Type
                                Expertise-</label>
                            <ul class="d-flex align-items-center gap-4 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30"
                                *ngFor="let skintype of doctor.data.skinTypes; let i = index">
                                <li>
                                    <div class="form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input ct_custom_check" type="checkbox" value="" checked
                                            id="flexCheckDefault" disabled>
                                        <label class="form-check-label mb-0" for="flexCheckDefault">
                                            {{skintype.name}}
                                        </label>
                                    </div>
                                </li>

                            </ul>

                        </div>
                        <div class="mb-4">
                            <label for="" class="mb-3 ct_text_black ct_fw_600 ct_fs_18">Severity Level
                                Handled-</label>
                            <ul class="d-flex align-items-center gap-4 flex-wrap  ct_para_scroll ct_custom_scroll ct_pe_30"
                                *ngFor="let level of doctor.data.severityLevels; let i = index">
                                <li>
                                    <div class="form-check d-flex align-items-center gap-2">
                                        <input class="form-check-input ct_custom_check" type="checkbox" value=""
                                            id="flexCheckDefault" checked disabled>
                                        <label class="form-check-label mb-0" for="flexCheckDefault">
                                            {{level.level}}
                                        </label>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="ct_white_bg ct_border_radius_10 ct_border_clr_D2D5DB ct_p_20 mb-4 pe-0">
                        <h4 class="ct_fs_20 ct_fw_600 mb-4">Uploaded Certifications</h4>
                        <ul class="ct_para_scroll ct_custom_scroll d-flex align-items-center gap-4 flex-wrap ct_pe_30"
                            *ngFor="let certificate of doctor.data.certifications; let i = index">
                            <li>
                                <div class="d-flex align-items-start gap-2 ct_outline_border">
                                    <img src="../assets/img/file_img.png" alt="">
                                    <div class="d-flex align-items-center gap-2">
                                        <p class="ct_fs_16 ct_fw_600 mb-1">{{certificate.name}}</p>
                                        <a [href]="certificate.upload_path" target="_blank">
                                            <i class="fa-solid fa-eye ms-2 ct_text_939393"></i>
                                        </a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="ct_white_bg ct_p_20 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <h5 class="ct_fs_20 ct_ff_ambit_semibold mb-3">Consultation Fees</h5>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Fee per Session<span
                                            class="ct_red_text">*</span></label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control ct_input"
                                            placeholder="Enter fee per session" disabled
                                            value="{{doctor.data.fee_per_session}}">
                                        <span class="ct_show_eye">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="" class="mb-2 ct_text_black">Session Duration<span
                                            class="ct_red_text">*</span></label>
                                    <input type="text" class="form-control ct_input" disabled
                                        value="{{doctor.data.session_duration}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ct_white_bg ct_p_20 ct_border_clr_e6e6e6 ct_border_radius_15 mb-4">
                        <h5 class="ct_fs_20 ct_ff_ambit_semibold mb-3">Availability</h5>
                        <div class="row align-items-center ct_border_btm_1 py-3"
                            *ngFor="let day of doctor.data.availability; let i = index">
                            <div class="col-md-3">
                                <div class="mb-2 mb-md-0">
                                    <p class="mb-0 ct_text_clr_444">{{day.day_of_week}}</p>
                                </div>
                            </div>
                            @if(day.closed == 0){
                            <div class="col-md-6">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="form-group ct_flex_1">
                                        <input type="time" class="form-control ct_input" value="{{day.start_time}}"
                                            disabled>
                                    </div>
                                    <div class="form-group ct_flex_1">
                                        <input type="time" class="form-control ct_input" value="{{day.end_time}}"
                                            disabled>
                                    </div>

                                </div>
                            </div>

                            }@else {
                            <div class="col-md-6">
                                <div class="d-flex align-items-center gap-3">
                                    <h6>Closed</h6>

                                </div>
                            </div>
                            }
                        </div>


                    </div>
                </form>
                }
                }

            </div>
        </div>


    </div>
</div>